/************************ Reset ************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
pre {
	white-space: pre;
	white-space: pre-wrap;
	white-space: pre-line;
	word-wrap: break-word;
}
/************************ Fonts ************************/
body {
	font-family: "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}
pre, code, kbd, samp {
	font-family: monospace, sans-serif;
}
h1 {
	font-size: 1.4em;
}
h2 {
	font-size: 1.3em;
}
h3 {
	font-size: 1.2em;
}
h4 {
	font-size: 1em;
	font-weight: bold;
}
h5 {
	font-size: 1.1em;
}
h6 {
	font-size: 0.6em;
	font-weight: bold;
}
i {
	font-weight: bold;
}
th {
	font-weight: bold;
}
small {
	font-size: 0.7em;
}
strong {
	font-weight: bold;
	font-size: 1.1em;
}
select {
	font: 90% sans-serif;
}
label {
	font: 90%;
}
input, textarea {
	font: 99% sans-serif;
}
sup {
	vertical-align: top;
	font-size: 0.7em;
}
table {
	font-size: 0.8em;
}
.smaller {
	font-size: 0.8em;
}
.bold {
	font-weight:bold;
}
.ire-table {
	font-size: 0.7em;
}
.ref-table {
	font-size: 0.7em;
}
/********************** Universal **********************/
html {
    -webkit-text-size-adjust: 100%;
}
body {
	text-align: center;
	left: 0;
	right: 0;
} /* is also id'd as #body */
@media only screen {
	/*** DOM ***/
	a {
		text-decoration: none;
		background-color: inherit;
		color: #0000ff;
	}
	body {
		color: #333333;
		background-color: #eaeaea;
		padding: 0.25em;
	}
	h1,h2,h3,h4,h5,h6 {
		text-align: center;
	}
	input {
		margin-left: 0.25em;
		margin-right: 0.25em;
		text-align: center;
	}
	p {
		margin-bottom: 0.6em;
	}
	select {
		margin-left: 0.5em;
		margin-right: 0.5em;
	}
	table {
		margin: 0px auto;
	}
	th {
		padding-left: 0.6em;
		padding-right: 0.6em;
	}
	tr {
		text-align: center;
	}
	/*** IDs ***/
	#ins-cust-box {
		background-color: #f2f2f2;
		width: 90%;
		max-width: 22em;
		box-shadow:0.05em 0.05em 0.2em #808080;
		-webkit-box-shadow:0.05em 0.05em 0.2em #808080;
		margin:0px auto;
	}
	#ins-custscreen {
		display: block;
		width: 90%;
		max-width: 24em;
		margin: 0px auto;
	}
	#ins-mainscreen {
		width: 90%;
		max-width: 26em;
		margin: 0px auto;
	}
	#ins-mainbox {
		display: block;
	}
	/* Classes */
	.base-button {
		display: inline;
	}
	.base-button-hide {
		display: none;
	}
	.base-input {
		width: 4em;
		line-height: 0.8;
	}
	.base-inputbox {
		display: block;
	}
	.base-inputbox-hide {
		display: none;
	}
	.base-main {
	}
	.base-select {
		display: inline;
	}
	.base-select-hide {
		display: none;
	}
	.button-holder {
		text-align: center;
		display: block;
	}
	.can-hide {
		display: none;
	}
	.can-large {
		display: block;
		position: relative;
		width: 100%;
		margin: 0px auto;
	}
	.can-1-large {
		display: block;
		position: relative;
		width: 100%;
	}
	.can-2-large {
		display: block;
		position: absolute;
		width: 100%;
		margin: 0px auto;
		bottom: 0;
	}
	.can-3-large {
		display: block;
		position: absolute;
		width: 100%;
		margin: 0px auto;
		bottom: 0;
	}
	.canvas-tab {
		display: inline-block;
		position: relative;
		margin: 0px auto;
	}
	.canvas-tab-hide {
		display: none;
	}
	.colourpicker {
		position: fixed;
		top: 10em;
		left: 50%;
		display:block;
	}
	.colourpicker-hide {
		display: none;
	}
	.creditbutton {
		margin-top: 0.4em;
		cursor: default;
	}
		.creditbutton a {
			cursor: default;
			margin-left: 0.5em;
			margin-right: 0.5em;
		}
		.creditbutton a:hover {
			color:#a04040;
		}
	.emptybox {
			display: inline-block;
	}
	.emptybox-hide {
		display: none;
	}
	.fig-box {
		margin:0 auto;
		margin-top:0.4em;
		margin-bottom:0.4em;
		padding:0;
		box-shadow:0.05em 0.05em 0.2em #808080;
		-webkit-box-shadow:0.05em 0.05em 0.2em #808080;
		width: 90%;
		max-width: 24em;
	}
	.fig-cust {
		display: inline-block;
		border:1px solid;
		border-color: #dadada;
		background-color: #eaeaea;
		border-radius:0.25em;
		padding: 0;
		margin: 0;
		width: 95%;
	}
		.fig-cust:hover {
			border-color: #f09090;
		}
	.fig-empty {
		display: inline-block;
		margin: 0;
		padding: 0;
		width: 100%;
	}
	.fig-img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-size: 100%;
	}
	.fig-main {
		margin: 2.5%;
		padding: 0;
		box-shadow: 0.05em 0.05em 0.2em #808080;
		-webkit-box-shadow: 0.05em 0.05em 0.2em #808080;
		width: 95%;
	}
	.fig-main:hover {
		box-shadow:0.05em 0.05em 0.4em #A04040;
		-webkit-box-shadow:0.05em 0.05em 0.4em #A04040;
	}
	.fig-tweak {
		margin:0 auto;
		margin-top:0.4em;
		margin-bottom:0.4em;
		border:2px solid;
		border-color: #dadada;
		background-color: #eaeaea;
		border-radius:0.25em;
		width: 90%;
		max-width: 24em;
	}
	.fig-wrapper {
		position: relative;
		width: 100%;
	}
	.fixed-width-no {
		width: 3em;
		display: inline-block;
		text-align: center;
		margin: 0;
	}
	.footer {
		display: none;
	}
	.footer-hide {
		display: none;
	}
	.gam-selects-box {
		display: inline-block;
		margin: 0;
		padding: 0;
	}
	.graybox {
		display: inline-block;
		margin:0 0.15em 0.2em 0.15em;
		padding: 0.15em 0.35em 0.25em 0.15em;
		border:1px solid;
		border-color: #dadada;
		background-color: #eaeaea;
		border-radius:0.25em;
	/*	-moz-border-radius:5px; */
	}
	.graybox-hide {
		display: none;
	}
	.indentpara {
		margin-left: 2em;
	}
		.indentpara strong {
			font-size: 1em;
		}
	.info-page {
		display: block;
	}
	.info-page-hide {
		display: none;
	}
	.info-tab {
		display: block;
		position: relative;
		width: 100%;
		border: 1px solid;
		border-color: #dadada;
		background-color: #eaeaea;
		border-radius: 0.25em;
		margin-top: 0.15em;
		overflow: auto;
		/*	-moz-border-radius:5px; */
	}
	.info-tab-hide {
		display: none;
	}
	.infotext {
		text-align: left;
	}
	.input-set {
		display: inline;
	}
	.input-set-hide {
		display: none;
	}
	.ire-input {
		width: 4em;
		line-height: 0.8;
	}
	.ire-table {
		table-layout: fixed;
		margin-bottom: 0.4em;
	}
		.ire-table td {
			width: 3.25em;
		}
	.iso-input {
		width: 5em;
		line-height: 0.8;
	}
	.kelvin-input {
		width: 5em;
		line-height: 0.8;
	}
	.linebox {
		display: inline-block;
	}
	.lut-opt {
		display: inline;
	}
	.lut-opt-hide {
		display: none;
	}
	.lutcalcform {
		display: block;
		margin: 0;
		padding: 0;
		position: relative;
		left:0;
		right: 0;
	}
	.lutcalcform-hide {
		display: none;
	}
	.lutset-popup {
		position: fixed;
		top: 10em;
		left: 50%;
		display:block;
	}
	.lutset-popup-hide {
		position:fixed;
		top: 10em;
		left: 50%;
		display:none;
	}
	.mob-button {
		display: block;
		width: 100%;
		font-size: 125%;
		padding-top:0.5em;
		padding-bottom:0.5em;
		margin-top:0.2em;
		margin-bottom:0.2em;
		border:2px solid;
		border-color: #9a9a9a;
		border-radius:0.25em;
	/*	-moz-border-radius:0.25em; */
	}
	.mob-button-hide {
		display: none;
	}
	.mob-main-menu {
		display: block;
		margin: 0px auto;
		margin-top: 10em;
		width: 95%;
		clear: both;
	}
	.mob-main-menu-hide {
		display: none;
	}
	.modalbox {
		position:fixed;
		width:100%;
	    height:100%;
	    background-color:rgba(234,234,234,0.5);
	    top:0px;
	    left:0px;
	    z-index:999;
	}
	.modalbox-hide {
		display:none;
	}
	.picker-can {
		display: inline-block;
		width: 20em;
		height: 20em;
		cursor: crosshair;
		z-index: 1;
	}
	.picker-colour {
		margin: 0px auto;
		margin-top: 1em;
		width: 3.5em;
		height: 3.5em;
		background-color: #808080;
	}
	.picker-colour-small {
		position: absolute;
		width: 3em;
		height: 3em;
		left: 2.5em;
		top: 50%;
		margin-top: -1.5em;
		background-color: #808080;
	}
	.picker-info {
		display: inline-block;
		padding-top: 2em;
		vertical-align: top;
		width: 10em;
	}
	.popup	{
		position: relative;
		left: -15em;	
		box-shadow:0.05em 0.25em 2em #808080;
		-webkit-box-shadow:0.05em 0.25em 2em #808080;
		/*	-moz-box-shadow:0.05em 0.05em 0.2em #808080; */
		padding: 0.5em 1em 0.5em 1em;
		background-color: #f2f2f2;
		color: #333333;
		line-height: 1.8;
		text-align: center;
		width: 30em;
		margin: 0px auto;
		margin-top: 0.5em;
		margin-bottom:0.5em;
	}
	.popupholder {
		display:block;
		position:fixed;
		top: 10em;
		left: 50%;
	}
	.popupholder-hide {
		display:none;
	}
	.preview-box-large {
		position: relative;
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.preview-box-hide {
		display: none;
	}
	.print-button-hide {
		display: none;
	}
	.ref-table {
		margin-bottom: 0.5em;
	}
	.select-item {
		display: block;
	}
	.select-item-hide {
		display: none;
	}
	.setprog-popup {
		position: fixed;
		top: 10em;
		left: 50%;
		display:block;
	}
	.setprog-popup-hide {
		position: fixed;
		top: 10em;
		left: 50%;
		display: none;
	}
	.settings-popup {
		position: fixed;
		top: 10em;
		left: 50%;
		display: block;
	}
	.settings-popup-hide {
		position: fixed;
		top: 10em;
		left: 50%;
		display: none;
	}
	.shadowbox-mob	{
		display: block;
		position:relative;
		box-shadow:0.05em 0.05em 0.2em #808080;
		-webkit-box-shadow:0.05em 0.05em 0.2em #808080;
	/*	-moz-box-shadow:0.05em 0.05em 0.2em #808080; */
		padding: 0.5em 1em 0.5em 1em;
		background-color: #f2f2f2;
		color: #333333;
		line-height: 1.3;
		text-align: center;
		width: 100%;
		margin: 0px auto;
		margin-top: 0.5em;
		margin-bottom:0.5em;
		font-size: 95%;
	}
	.shadowbox-hide {
		display: none;
	}
	.side-item {
		display: inline;
	}
	.side-item-hide {
		display: none;
	}
	.shift-input {
		width: 5em;
		line-height: 0.8;
	}
	.slider-holder {
		display: block;
	}
	.small-button {
		text-align: center;
		font-size: 0.6em;
		vertical-align: middle;
	}
	.small-button-hide {
		display: none;
	}
	.small-input {
		width: 3em;
		line-height: 0.8;
	}
	.smallerbox {
		display: block;
		font-size: 85%;
		line-height:1.4;
	}
	.smallerbox-hide {
		display: none;
	}
	.spacer {
		display: block;
		height: 0.5em;
	}
	.splash-hide {
		display: none;
	}
	.stop-input {
		width: 4em;
		line-height: 0.8;
	}
	.text-input {
		line-height: 0.8;
		margin-bottom: 0.15em;
	}
	.titlebar {
		display: none;
	}
	.titlebar-hide {
		display: none;
	}
	.tweak {
		display: block;
	}
	.tweak-hide {
		display: none;
	}
	.tweakholder-hide {
		display: none;
	}
	.twk-advanced {
		display: block;
	}
	.twk-advanced-hide {
		display: none;
	}
	.twk-button {
		display: inline;
	}
	.twk-button-hide {
		display: none;
	}
	.twk-checkbox {
		display: inline;
	}
	.twk-checkbox-hide {
		display: none;
	}
	.twk-multi-colour-bars-r {
		display:inline-block;
		width:1.56em;
		height:4em;
		margin:0px;
		padding:0px;
		background-color: #ff0000;
	}
	.twk-multi-colour-bars-g {
		display:inline-block;
		width:1.56em;
		height:4em;
		margin-top:-0.26em;
		margin-bottom:-0.26em;
		padding:0px;
		background-color: #00ff00;
	}
	.twk-multi-colour-bars-b {
		display:inline-block;
		width:1.56em;
		height:4em;
		margin:0px;
		padding:0px;
		background-color: #0000ff;
	}
	.twk-multi-minus {
		position: absolute;
		width: 1.5em;
		left:0;
		top: 3.5em;
	}
	.twk-multi-plus {
		position: absolute;
		width: 1.5em;
		top:100%;
		left:0;
	}
	.twk-multi-pmbox {
		width: 3.5em;
		position: relative;
		margin: 0;
		padding: 0;
		height:100%;
	}
	.twk-multi-range-array {
		-webkit-appearance: none;
		margin:0px auto;
		width:11.5em;
		display: block;
		margin-top: 0em;
		margin-bottom: 0.14em;
		background:transparent;
	}
	.twk-multi-sliders {
		display: block;
		margin: 0px auto;
		margin-top: -12em;
	}
	.twk-multi-sliderbox {
		display:inline-block;
		margin: 0px auto;
		width:1.55em;
		height:100%;
	}
	.twk-multi-stop {
		display:inline-block;
		width:1.56em;
		margin:0px;
		padding:0px;
		text-align: centre;
	}
	.twk-multi-tab {
		display: inline-block;
		position:relative;
		margin-left: 4em;
		width: 21em;
	}
	.twk-multi-tone {
		display: block;
		position: relative;
		margin:0 0.15em 0.2em 0.15em;
		padding: 0.15em 0.35em 0.25em 0.15em;
		border:1px solid;
		border-color: #909090;
		background-color: #d0d0d0;
		border-radius:0.25em;
	/*	-moz-border-radius:5px; */
	}
	.twk-narrow-sub-box {
		display: inline-block;
		margin:0 0.15em 0.2em 0.15em;
		padding: 0.15em 0.35em 0.25em 0.15em;
		border:1px solid;
		border-color: #909090;
		background-color: #d0d0d0;
		border-radius:0.25em;
	/*	-moz-border-radius:5px; */
	}
	.twk-psst-colour-bars-l {
		display:inline-block;
		width:0.94em;
		height:8em;
		margin:0px;
		margin-top:-0.26em;
		margin-bottom:-0.26em;
		padding:0;
	}
	.twk-psst-colour-bars-l-h {
		display:inline-block;
		width:10em;
		height:0.93em;
		margin:0px;
		padding:0;
	}
	.twk-psst-colour-bars-s {
		display:inline-block;
		width:0.94em;
		height:2em;
		margin:0;
		padding:0;
	}
	.twk-psst-colour-bars-s-h {
		display:inline-block;
		width:3em;
		height:0.93em;
		margin:0px;
		margin-top: 0.3em;
		padding:0;
	}
	.twk-psst-spectrum {
		display: block;
		position: relative;
		margin: 0px auto;
		width: 26.6em;
		height: 12em;
		margin-bottom: -12em;
		top: -12em;
		background: transparent;
	}
	.twk-psst-spectrum-hide {
		display: none;
	}
	.twk-select {
	}
	.twk-sub-box {
		display: block;
		margin:0 0.15em 0.2em 0.15em;
		padding: 0.15em 0.35em 0.25em 0.15em;
		border:1px solid;
		border-color: #909090;
		background-color: #d0d0d0;
		border-radius:0.25em;
		/*	-moz-border-radius:5px; */
	}
	.twk-sub-box-hide {
		display: none;
	}
	.twk-tab {
		display: block;
	}
	.twk-tab-box {
	}
	.twk-tab-hide {
		display: none;
	}
	.twk-tinycheck {
		margin:0;
		padding:0;
		width:0.95em;
		height:0.95em;
	}
	.wide-input {
		width: 6em;
		line-height: 0.8;
	}	
}
/************************ Print ************************/
@media print {
	/*** DOM ***/
	body {
		padding: 0.25em;
	}
	canvas {
		margin:0px auto;
	}
	h1,h2,h3,h4,h5,h6 {
		text-align: center;
	}
	h1 {
		font-size: 2em;
		font-weight: bold;
	}
	p {
		margin-bottom: 0.6em;
		font-size:1.2em;
	}
	table {
		margin: 0px auto;
		font-size: 1.2em;
		border: 0.05em solid #d0d0d0;
	}
	td {
		text-align: center;
		min-width: 3em;
	}
	th {
		padding-left: 0.75em;
		padding-right: 0.75em;
	}
	tr {
		text-align: center;
	}
	/*** IDs ***/
	#main {
		display: none;
	}
	#printable {
		display: block;
		text-align:center;
		margin: 0px auto;
		line-height: 1.8em;
	}
	#print-lut-bgrnd {
		display: block;
		position:relative;
		width: 37em;
		z-index: 1;
	}
	#print-lut-box {
		display: inline-block;
		margin: 0px auto;
		padding: 0;
		position: relative;
		background-color:#00ff00;
	}
	#print-lut-out {
		display: block;
		position:absolute;
		width: 37em;
		bottom: 0;
		z-index: 2;
	}
	#print-stop-bgrnd {
		display: block;
		position: relative;
		width: 56em;
		z-index: 1;
	}
	#print-stop-box {
		display: inline-block;
		margin: 0px auto;
		padding: 0;
		position: relative;
	}
	#print-stop-clip {
		display: block;
		position: absolute;
		width: 56em;
		bottom: 0;
		z-index: 4;
	}
	#print-stop-out {
		display: block;
		position: absolute;
		width: 56em;
		bottom: 0;
		z-index: 3;
	}
	#print-stop-rec {
		display: block;
		position: absolute;
		width: 56em;
		bottom: 0;
		z-index: 2;
	}
	#titlebar {
		display: none;
	}	
}
/******************** Small Changes ********************/
@media only screen {
	body {
		font-size: 60%;
		position: fixed;
	}
	#can-lin-bgrnd {
		display: block;
		position: relative;
		width: 90%;
		margin-left: 5%;
		z-index: 1;
	}
	#can-lin-rec {
		display: block;
		position: absolute;
		bottom: 0;
		width: 90%;
		margin-left: 5%;
		z-index: 2;
	}
	#can-lin-out {
		display: block;
		position: absolute;
		bottom: 0;
		width: 90%;
		margin-left: 5%;
		z-index: 3;
	}
	#can-lin-clip {
		display: block;
		position: absolute;
		bottom: 0;
		width: 90%;
		margin-left: 5%;
		z-index: 1;
	}
	#can-lut-bgrnd {
		display: block;
		position: relative;
		width: 90%;
		margin-left: 5%;
		z-index: 1;
	}
	#can-lut-out {
		display: block;
		position: absolute;
		bottom: 0;
		width: 90%;
		margin-left: 5%;
		z-index: 3;
	}
	#can-lut-rgb {
		display: block;
		position: absolute;
		bottom: 0;
		width: 90%;
		margin-left: 5%;
		z-index: 4;
	}
	#can-stop-bgrnd {
		display: block;
		position: relative;
		width: 90%;
		margin-left: 5%;
		z-index: 1;
	}
	#can-stop-rec {
		display: block;
		position: absolute;
		bottom: 0;
		width: 90%;
		margin-left: 5%;
		z-index: 2;
	}
	#can-stop-out {
		display: block;
		position: absolute;
		bottom: 0;
		width: 90%;
		margin-left: 5%;
		z-index: 3;
	}
	#can-stop-clip {
		display: block;
		position: absolute;
		bottom: 0;
		width: 90%;
		margin-left: 5%;
		z-index: 1;
	}
	#genbutton {
		display: none;
	}
	#left {
		width: 100%;
		clear: both;
		display: block;
		padding: 0;
		margin: 0px;
		overflow: auto;
		overflow-x: hidden;
	}
	#right {
		width: 100%;
		clear: both;
		overflow: hidden;
		padding: 0px;
	}
}
@media only screen and (min-width: 32em)  {
	body {
		font-size: 100%;
	}
}
@media only screen and (min-aspect-ratio: 1/1) {
	body {
		font-size:50%;
	}
	#left {
		width: 46%;
		float: left;
		clear: none;
		display: initial;
		overflow: initial;
		overflow-x: initial;
	}
	#right {
		clear: none;
		width: auto;
		position: absolute;
		left: 46.5%;
		right: 0;
		padding-left: 2em;
		padding-right: 2em;
		overflow:auto;
		overflow-x:hidden;
	}
}
@media only screen and (min-width: 40.063em) and (min-aspect-ratio: 1/1) {
	body {
		font-size:60%;
	}
	#can-lin-bgrnd {
		display: block;
		position: relative;
		width: 90%;
		margin-left: 5%;
		z-index: 1;
	}
	#can-lin-rec {
		display: block;
		position: absolute;
		bottom: 0;
		width: 90%;
		margin-left: 5%;
		z-index: 2;
	}
	#can-lin-out {
		display: block;
		position: absolute;
		bottom: 0;
		width: 90%;
		margin-left: 5%;
		z-index: 3;
	}
	#can-lin-clip {
		display: block;
		position: absolute;
		bottom: 0;
		width: 90%;
		margin-left: 5%;
		z-index: 1;
	}
	#can-lut-bgrnd {
		display: block;
		position: relative;
		width: 90%;
		margin-left: 5%;
		z-index: 1;
	}
	#can-lut-out {
		display: block;
		position: absolute;
		bottom: 0;
		width: 90%;
		margin-left: 5%;
		z-index: 3;
	}
	#can-lut-rgb {
		display: block;
		position: absolute;
		bottom: 0;
		width: 90%;
		margin-left: 5%;
		z-index: 4;
	}
	#can-stop-bgrnd {
		display: block;
		position: relative;
		width: 90%;
		margin-left: 5%;
		z-index: 1;
	}
	#can-stop-rec {
		display: block;
		position: absolute;
		bottom: 0;
		width: 90%;
		margin-left: 5%;
		z-index: 2;
	}
	#can-stop-out {
		display: block;
		position: absolute;
		bottom: 0;
		width: 90%;
		margin-left: 5%;
		z-index: 3;
	}
	#can-stop-clip {
		display: block;
		position: absolute;
		bottom: 0;
		width: 90%;
		margin-left: 5%;
		z-index: 1;
	}
	#genbutton {
		text-align:center;
		display:inline-block;
	}
		#genbutton input[type="button"] {
			font-size: 80%;
		}
	#left {
		width: 45%;
		float: left;
		clear: none;
		display: initial;
		overflow: initial;
		overflow-x: initial;
	}
	#right {
		clear: none;
		width: auto;
		position: absolute;
		left: 47%;
		right: 0;
		padding-left: 2em;
		padding-right: 2em;
		overflow:auto;
		overflow-x:hidden;
	}
}
@media only screen and (min-width: 45.063em) and (min-aspect-ratio: 1/1) {
	body {
		font-size:70%;
	}
		#genbutton input[type="button"] {
			font-size: 80%;
		}
}
@media only screen and (min-width: 50.063em) and (min-aspect-ratio: 1/1) {
	body {
		font-size:80%;
	}
		#genbutton input[type="button"] {
			font-size: 83%;
		}
}
@media only screen and (min-width: 64.063em) and (min-aspect-ratio: 1/1) {
	body {
		font-size:100%;
	}
	#can-lin-bgrnd {
		display: block;
		position: relative;
		width: 28em;
		z-index: 1;
	}
	#can-lin-rec {
		display: block;
		position: absolute;
		bottom: 0;
		width: 28em;
		z-index: 2;
	}
	#can-lin-out {
		display: block;
		position: absolute;
		bottom: 0;
		width: 28em;
		z-index: 3;
	}
	#can-lin-clip {
		display: block;
		position: absolute;
		bottom: 0;
		width: 28em;
		z-index: 1;
	}
	#can-lut-bgrnd {
		display: block;
		position: relative;
		width: 28em;
		z-index: 1;
	}
	#can-lut-out {
		display: block;
		position: absolute;
		bottom: 0;
		width: 28em;
		z-index: 3;
	}
	#can-lut-rgb {
		display: block;
		position: absolute;
		bottom: 0;
		width: 28em;
		z-index: 4;
	}
	#can-stop-bgrnd {
		display: block;
		position: relative;
		width: 28em;
		z-index: 1;
	}
	#can-stop-rec {
		display: block;
		position: absolute;
		bottom: 0;
		width: 28em;
		z-index: 2;
	}
	#can-stop-out {
		display: block;
		position: absolute;
		bottom: 0;
		width: 28em;
		z-index: 3;
	}
	#can-stop-clip {
		display: block;
		position: absolute;
		bottom: 0;
		width: 28em;
		z-index: 1;
	}
		#genbutton input[type="button"] {
			font-size: 90%;
		}
	#left {
		float:left;
		width:28em;
	}
	#right {
		position: absolute;
		left: 29em;
		right: 0;
		padding-left: 2em;
		padding-right: 2em;
		overflow:auto;
		overflow-x:hidden;
	}
}
@media only screen and (min-width: 66em) and (min-aspect-ratio: 1/1) {
	/*** ids ***/
		#genbutton input[type="button"] {
			font-size: 95%;
		}
	#left {
		float:left;
		width:29em;
	}
	#right {
		position: absolute;
		left: 30em;
		right: 0;
		padding-left: 2em;
		padding-right: 2em;
		overflow:auto;
		overflow-x:hidden;
	}
}
@media only screen and (min-width: 69em) and (min-aspect-ratio: 1/1) {
	/*** ids ***/
		#genbutton input[type="button"] {
			font-size: 100%;
		}
	#left {
		float:left;
		width:30em;
	}
	#right {
		position: absolute;
		left: 31em;
		right: 0;
		padding-left: 2em;
		padding-right: 2em;
		overflow:auto;
		overflow-x:hidden;
	}
}
/******************** Small Screens ********************/
@media only screen {
	/*** DOM ***/
	input[type="checkbox"] {
		transform: scale(1.75);
		-webkit-transform: scale(1.75);
		margin: 0.5em 1em 0.5em 1em;
	}
	input[type="radio"] {
		transform: scale(2);
		-webkit-transform: scale(2);
		margin: 0.75em 1em 0.5em 1em;
	}
	/*** IDs ***/
	#can-overlay {
		padding: 0px;
		border: 0;
		cursor: crosshair;
		z-index: 2;
	}
	#can-parade {
		margin: 0px auto;
	}
	#can-preview {
		padding: 0px;
		border: 0;
		cursor: crosshair;
		z-index: 1;
	}
	#can-sampler {
		padding: 0px;
		border: 0;
		cursor: crosshair;
		z-index: 3;
	}
	#can-vector {
		margin: 0px auto;
	}
	#can-waveform {
		margin: 0px auto;
	}
	#infoinsbutton {
		display: none;
	}
		#ins-mainbox p {
			position: absolute;
			font-size: 110%;
			text-shadow: -1px -1px #f0f0f0, 1px -1px #f0f0f0, 1px 1px #f0f0f0, -1px 1px #f0f0f0, 0px 0px 4px #a0a0a0;
			top: 50%;
			left: 0;
			right: 0;
			transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
		}
	#ins-main-buttons {
		margin: 0px auto;
		padding: 0;
	}
	#ins-main-cam {
		display: block;
		position: relative;
	}
	#ins-main-footer {
		display: none;
	}
	#ins-main-gam {
		display: block;
		position: relative;
	}
	#ins-main-gen {
		display: none;
	}
	#ins-main-gst {
		display: none;
	}
	#ins-main-header {
		display: none;
	}
	#ins-main-inf {
		display: block;
		position: relative;
	}
	#ins-main-left {
		width: 100%;
		padding: 0;
		display:block;
	}
	#ins-main-lut {
		display: block;
		position: relative;
	}
	#ins-main-pre {
		display: block;
		position: relative;
	}
		#ins-main-pre div {
			position: relative;
			width: 100%;
			padding-bottom: 69.583%;
		}
			#ins-main-pre div div {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-size: 100%;
				background-image: url('pngs/ins-pre-1.jpg');
			}
	#ins-main-right {
		width: 100%;
		padding: 0;
		display: block;
		clear: both;
	}
	#ins-main-set {
		display: none;
	}
	#ins-main-spacer {
		display: none;
	}
	#ins-main-twk {
		display: block;
		position: relative;
	}
	#javascriptwarning {
		margin-top:1em;
		display: block;
	}
	#main {
		margin: 0;
		padding: 0;
		width: 100%;
	}
	#mob-box {
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
	}
	#mob-menu-button {
		float: left;
		color: #ffff00;
		margin-left: 0.5em;
	}
		#mob-menu-button div {
		    width: 2.5em;
		    height: 0.35em;
			background-color: #ffff00;
		    margin: 0.4em 0 0.4em 0;
		}
	#mob-status {
		display: block;
		width: 100%;
		height: 2.7em;
		margin: 0;
		padding: 0;
		background-color: #202090;
	}
	#mob-status-text {
		position: relative;
		width: 100%;
		text-align: center;
		clear: both;
		font-size: 150%;
		top: 25%;
		padding-top: 0.2em;
		padding-bottom: 0.1em;
		color: #ffff00;
	    z-index: 1000;
	}
	#preview-box {
		margin-bottom: 0.5em;
	}
		#preview-holder input[type="checkbox"] {
			transform: scale(1);
			-webkit-transform: scale(1);
			margin: 0.2em;
			margin-right: 0.5em;
		}
		#preview-holder input[type="radio"] {
			transform: scale(1);
			-webkit-transform: scale(1);
			margin: 0.2em;
			margin-right: 0.5em;
		}
	#preview-size-button {
		display: none;
	}
	#printable {
		display: none;
	}
	#psst-lockbox input[type="checkbox"] {
		margin: 0;
	}
	#shed {
		display: none;
	}
	#splash-progress {
		display: inline-block;
		float: left;
		height: 1em;
		background-color: #505050;
	}
	#splash-progress-box {
		display: block;
		width: 100%;
		height: 1em;
		margin: 0px auto;
		margin-top: 1em;
		background-color: #d0d0d0;
		opacity: 0.5;
	}
	#tweak-top {
		display: none;
	}
	#tweaksholder {
		margin: 0;
		padding: 0;
		overflow: auto;
		font-size: 95%;
		width: 100%;
		margin: 0px auto;
		height: 100%;
	}
	#twk-multi-coloursbox {
		display:block;
		width:26.6em;
		height:12em;
		margin:0px auto;
		margin-top:0.5em;
		background:transparent;
	}
	#twk-psst-coloursbox {
		display: block;
		width: 26.5em;
		height: 12em;
		margin: 0px auto;
		background: transparent;
	}
	#twk-sampler-button {
		text-align: center;
		padding: 1em;
		margin: 0.5em;
		border-radius: 0.75em;
	}
		#twk-sampler-button:hover {
			color:#2020B0;
		}
	/* Classes */
	.base-button-hide-mob {
		display: none;
	}
	.can-small {
		display: block;
		position: relative;
		width: 100%;
		margin: 0px auto;
	}
	.can-1-small {
		display: block;
		position: relative;
		width: 100%;
	}
	.can-2-small {
		display: block;
		position: absolute;
		width: 100%;
		margin: 0px auto;
		bottom: 0;
	}
	.can-3-small {
		display: block;
		position: absolute;
		width: 100%;
		margin: 0px auto;
		bottom: 0;
	}
	.fig-but {
		margin: 2.5%;
		padding: 0;
		box-shadow: 0.05em 0.05em 0.2em #808080;
		-webkit-box-shadow: 0.05em 0.05em 0.2em #808080;
		width: 95%;
	}
		.fig-but:hover {
			border: 0;
			border-radius:0;
			box-shadow:0.05em 0.05em 0.4em #A04040;
			-webkit-box-shadow:0.05em 0.05em 0.4em #A04040;
		}
	.footer {
		display: none;
	}
	.info-tab-ins {
		display: block;
		position: relative;
		width: 100%;
		padding: 0.15em 0.35em 0.25em 0.15em;
		border: 1px solid;
		border-color: #dadada;
		background-color: #eaeaea;
		border-radius: 0.25em;
		margin-top: 0.15em;
		overflow: auto;
	/*	-moz-border-radius:5px; */
	}
		.info-tab input[type="radio"] {
			transform: scale(1);
            -webkit-transform: scale(1);
			margin: 0.2em;
			margin-left: 0.5em;
		}
	.ins-main-title {
		display: block;
	}
	.mob-chart-icon {
		float: right;
		background-image: url('pngs/mob-chart-icon.png');
		background-size:2.3em 2.3em;
		width: 2.5em;
		height: 2.5em;
		margin-top: 0.1em;
		margin-right: 0.5em;
	}
	.mob-genbutton {
		display: block;
		font-size: 125%;
		padding: 1.25em 2em 1.25em 2em;
		margin: 0px auto;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		background-color: #eaeaea;
		border:2px solid;
		border-color: #9a9a9a;
		border-radius:0.25em;
		/*	-moz-border-radius:0.25em; */
	}
	.mob-no-icon {
		display:none;
	}
	.mob-preview-icon {
		float:right;
		background-image: url('pngs/mob-preview-icon.png');
		background-size:2.3em 2.3em;
		width: 2.5em;
		height: 2.5em;
		margin-top: 0.1em;
		margin-right: 0.5em;
	}
	.preview-box-small {
		position: relative;
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.print-button {
		display: none;
	}
	.shadowbox, .shadowbox-mob-hide {
		display: none;
	}
	.shadowbox-mob {
		display: block;
		position: relative;
		box-shadow:0.05em 0.05em 0.2em #808080;
		-webkit-box-shadow:0.05em 0.05em 0.2em #808080;
		/*	-moz-box-shadow:0.05em 0.05em 0.2em #808080; */
		padding: 0.5em 1em 0.5em 1em;
		background-color: #f2f2f2;
		color: #333333;
		line-height: 1.3;
		text-align: center;
		width: 95%;
		margin: 0px auto;
		margin-top: 0.5em;
		margin-bottom:0.5em;
		font-size: 95%;
	}
	.splash {
		position:absolute;
		left: 50%;
		top: 6em;
		background-image: url('img/logo256.png');
		margin:0;
		padding:0;
		margin-left:-7em;
		background-size:14em 14em;
		width:14em;
		height:14em;
	}
		.splash div {
			padding-top: 7em;
		}
		.splash h1 {
			font-size:2.2em;
			color: #ffff00;
			text-shadow:
	    		0 0 2px #000000,
	    		0 0 6px #000000,
	    		0 0 8px #505050;
	    }
		.splash h5 {
			font-size:1.5em;
			color: #ffff00;
			text-shadow:
				0 0 2px #000000,
				0 0 6px #000000,
				0 0 8px #505050;
		}
	.titlebar {
		display: none;
	}
	.tweakbox {
		display:block;
	}
	.tweakholder {
		display: block;
		margin:0 0.15em 0.2em 0.15em;
		padding: 0.15em 0.35em 0.25em 0.15em;
		border:1px solid;
		border-color: #dadada;
		background-color: #b0b0b0;
		border-radius:0.25em;
		/*	-moz-border-radius:5px; */
	}
}
/******************* Larger Screens ********************/
@media only screen and (min-width: 40.063em) and (min-aspect-ratio: 1/1) {
	/*** DOM ***/
	input[type="checkbox"] {
		transform: scale(1);
		-webkit-transform: scale(1);
		margin: 0;
	}
	input[type="radio"] {
		transform: scale(1);
		-webkit-transform: scale(1);
		margin: 0;
	}
	/*** IDs ***/
	#can-overlay {
	}
	#can-parade {
	}
	#can-preview {
	}
	#can-sampler {
	}
	#can-vector {
	}
	#can-waveform {
	}
	#infoinsbutton {
		display: initial;
	}
		#ins-mainbox p {
		}
	#ins-main-buttons {
		margin-top: -0.35em;
		margin-bottom: -0.35em;
	}
	#ins-main-cam {
	}
	#ins-main-footer {
		display:block;
	}
	#ins-main-gam {
	}
	#ins-main-gen {
		display: inline-block;
		width: 18.05%;
	}
	#ins-main-gst {
		display: inline-block;
		width: 18.05%;
	}
	#ins-main-header {
		display: block;
	}
	#ins-main-inf {
	}
	#ins-main-left {
		width: 49%;
		margin: 0;
		display: inline-block;
	}
	#ins-main-lut {
	}
	#ins-main-pre {
		display: inline-block;
		width: 11.95%;
	}
		#ins-main-pre div {
			padding-bottom: 26.667%;
		}
			#ins-main-pre div div {
				background-image: url('pngs/main-but-pre.png');
			}
	#ins-main-right {
		width: 49%;
		margin: 0;
		display: initial;
		float: right;
		clear: none;
	}
	#ins-main-set {
		display: inline-block;
		width: 11.95%;
	}
	#ins-main-spacer {
		display:block;
	}
	#ins-main-twk {
	}
	#javascriptwarning {
	}
	#main {
		position: relative;
		margin: 0px auto;
		width: 98%;
	}
	#mob-box {
		display: none;
	}
	#mob-menu-button {
		display: none;
	}
		#mob-menu-button div {
		}
	#mob-status {
		display: none;
	}
	#mob-status-text {
	}
	#preview-box {
		margin: 0px auto;
		padding: 0px;
	}
	#preview-holder input[type="radio"] {
	}
	#preview-holder input[type="checkbox"] {
	}
	#preview-size-button {
		display: inline-block;
	}
	#printable {
	}
	#psst-lockbox input[type="checkbox"] {
	}
	#shed {
	}
	#splash-progress {
	}
	#splash-progress-box {
	}
	#tweak-top {
		display: block;
	}
	#tweaksholder {
		margin: 0;
		padding: 0;
		overflow: auto;
		overflow-x: hidden;
		font-size: 95%;
		width: 100%;
		height: auto;
	}
	#twk-multi-coloursbox {
		display:block;
		width:26.6em;
		height:12em;
		margin:0px auto;
		margin-top:0.5em;
		background:transparent;
	}
	#twk-psst-coloursbox {
		display: block;
		width: 26.5em;
		height: 12em;
		margin: 0px auto;
		background: transparent;
	}
	#twk-sampler-button {
	}
		#twk-sampler-button:hover {
		}
	/* Classes */
	.base-button-hide-mob {
		display: inline;
	}
	.can-small {
		max-width: 32em;
	}
	.can-1-small {
		max-width: 32em;
	}
	.can-2-small {
		max-width: 32em;
	}
	.can-3-small {
		max-width: 32em;
	}
	.fig-but {
		display: inline-block;
		position: relative;
		margin-bottom 0;
		margin-top: 0.2em;
		margin-left: 1%;
		margin-right: 1%;
		padding: 1%;
		border:1.5px solid;
		border-color: #bababa;
		background-color: #f2f2f2;
		border-radius:0.2em;
	}
		.fig-but:hover {
			border:1.5px solid;
			border-color: #ea7a7a;
			border-radius:0.2em;
		}
	.footer {
		display: block;
		position: relative;
		width: 100%;
		text-align: center;
		clear: both;
		margin-top: 0.9em;
		padding-top: 0.2em;
		padding-bottom: 0.1em;
		color: #ffff00;
		background-color: #202090;
	    z-index: 1000;
	}
	.info-tab-ins {
	}
		.info-tab input[type="radio"] {
			margin-top: 0;
			margin-bottom: 0;
			margin-left: 0.7em;
			margin-right: 0.3em;
		}
	.ins-main-title {
		display: none;
	}
	.mob-chart-icon {
	}
	.mob-genbutton {
		display: none;
	}
	.mob-no-icon {
	}
	.mob-preview-icon {
	}
	.preview-box-small {
		max-width: 32em;
	}
	.print-button {
		display: inline;
	}
	.shadowbox, .shadowbox-mob-hide {
		display: block;
		position:relative;
		box-shadow:0.05em 0.05em 0.2em #808080;
		-webkit-box-shadow:0.05em 0.05em 0.2em #808080;
	/*	-moz-box-shadow:0.05em 0.05em 0.2em #808080; */
		padding: 0.5em 1em 0.5em 1em;
		background-color: #f2f2f2;
		color: #333333;
		line-height: 1.3;
		text-align: center;
		width: 100%;
		margin: 0px auto;
		margin-top: 0.5em;
		margin-bottom:0.5em;
		font-size: 95%;
	}
	.shadowbox-mob	{
		width: 100%;
	}
	.splash {
		top: 10em;
		margin-left:-10em;
		background-size:20em 20em;
		width:20em;
		height:20em;
	}
		.splash div {
		}
		.splash h1 {
	    }
		.splash h5 {
		}
	.titlebar {
		display: block;
		position: relative;
		width: 100%;
		text-align: center;
		clear: both;
		padding-top: 0.2em;
		padding-bottom: 0.1em;
		color: #ffff00;
		background-color: #202090;
	    z-index: 1000;
	}
	.tweakbox {
		display: block;
		position:relative;
		box-shadow:0.05em 0.05em 0.2em #808080;
		-webkit-box-shadow:0.05em 0.05em 0.2em #808080;
	/*	-moz-box-shadow:0.05em 0.05em 0.2em #808080; */
		padding: 0.5em 1em 0.5em 1em;
		background-color: #f2f2f2;
		color: #333333;
		line-height: 1.3;
		text-align: center;
		width: 100%;
		margin: 0px auto;
		margin-top: 0.5em;
		margin-bottom:0.5em;
		font-size: 95%;
	}
	.tweakholder {
	}
}
/*********************** Sliders ***********************/
@media only screen {
	.slider ._sliderbox {
		font-size: 200%;
	}
}
@media only screen and (min-width: 32em) {
	.slider ._sliderbox {
		font-size: 150%;
	}
}
@media only screen and (min-aspect-ratio: 1/1)  {
	.slider ._sliderbox {
		font-size: 200%;
	}
}
@media only screen and (min-width: 40.063em) and (min-aspect-ratio: 1/1)  {
	.slider ._sliderbox {
		font-size: 175%;
	}
}
@media only screen and (min-width: 45.063em) and (min-aspect-ratio: 1/1)  {
	.slider ._sliderbox {
		font-size: 150%;
	}
}
@media only screen and (min-width: 50.063em) and (min-aspect-ratio: 1/1)  {
	.slider ._sliderbox {
		font-size: 125%;
	}
}
@media only screen and (min-width: 64.063em) and (min-aspect-ratio: 1/1)  {
	.slider ._sliderbox {
		font-size: 100%;
	}
}

@media only screen {
/* Base Look */
.slider {
	background-color: #d0d0d0;
	margin: 0;
	padding: 0.15em;
	border-radius: 0.5em;
	border: 2px solid #a0a0a0;
	outline: 0;
	vertical-align: baseline;
}
	.slider div,label,span {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	.slider ._titlebox {
		margin: 0px auto;
		margin-bottom: -0.3em;
		padding: 0px;
		text-align: center;
	}
		.slider ._titlebox span {
			display: inlne-block;
			margin: 0px;
			padding: 0px;
		}
	.slider ._formbox {
		display:block;
		margin: 0px;
		padding: 0px;
		position: relative;
	}
	.slider ._sliderbox {
		display: block;
		margin: 0px;
		padding: 0px;
	    padding-left:1.3em;
	    padding-right:1.3em;
		margin-top: 0.4em;
		margin-bottom: 0.1em;
	}
		.slider ._sliderbox ._slider {
			-webkit-appearance: none;
			position: relative;
			width: 100%;
			margin: 0px;
			padding: 0px;
			height: 1em;
			background: transparent;
			z-index: 5;
		}
			.slider ._sliderbox ._slider:focus {
				outline: none;
			}
			.slider ._sliderbox ._slider::-webkit-slider-runnable-track { -webkit-appearance: none; width: 100%; height: 0.3em; position:relative; bottom: 0.1em; left: 0.2em; cursor: pointer; background: inherit; margin-top: 0.3em; box-shadow: 0px 0px 0.2em #000000, 0px 0px 0.1em #0d0d0d; background: #909090; border-radius: 0.25em; border: 0.1em solid #505050; margin-top: 0.2em; padding: 0px; }
			.slider ._sliderbox ._slider::-webkit-slider-thumb { -webkit-appearance: none; box-shadow: 0px 0px 0.2em #505050, 0px 0px 0.1em #5d5d5d; border: 0.1em solid #505050; height: 1.1em; width: 1.1em; border-radius: 0.55em; margin-top: -0.5em; background: #f0f0f0; cursor: pointer; padding: 0px; }
			.slider ._sliderbox ._slider:focus::-webkit-slider-runnable-track { background: #909090; }
			.slider ._sliderbox ._slider::-moz-range-track { width: 100%; height: 0.15em; cursor: pointer; box-shadow: 0px 0px 0.1em #000000, 0px 0px 0px #0d0d0d; background: #909090; border-radius: 0.25em; border: 0.1em solid #505050; }
			.slider ._sliderbox ._slider::-moz-range-thumb { box-shadow: 0px 0px 0.2em #505050, 0px 0px 0.1em #5d5d5d; border: 0.1em solid #505050; height: 1em; width: 1em; border-radius: 0.5em; background: #f0f0f0; cursor: pointer; }
			.slider ._sliderbox ._slider::-moz-focus-outer { border: 0; }
			.slider ._sliderbox ._slider::-ms-track { position:relative; height: 1em; cursor: pointer; background: transparent; color: transparent; border-width: 0.4em; border-color: transparent;}
			.slider ._sliderbox ._slider::-ms-fill-lower { background: #909090; border: 0.1em solid #505050; border-radius: 0.25em; box-shadow: 0px 0px 0.15em #000000, 0px 0px 0px #0d0d0d; }
			.slider ._sliderbox ._slider::-ms-fill-upper { background: #909090; border: 0.1em solid #505050; border-radius: 0.25em; box-shadow: 0px 0px 0.15em #000000, 0px 0px 0px #0d0d0d; }
			.slider ._sliderbox ._slider::-ms-thumb { box-shadow: 0px 0px 0.2em #505050, 0px 0px 0.1em #5d5d5d; border: 0.1em solid #505050; height: 0.7em; width: 0.7em; border-radius: 0.5em; margin-top: 0; background: #f0f0f0; cursor: pointer; }
			.slider ._sliderbox ._slider::-ms-tooltip { display: none; }
			.slider ._sliderbox ._slider:focus::-ms-fill-lower { background: #909090; }
			.slider ._sliderbox ._slider:focus::-ms-fill-upper { background: #909090; }
	.slider ._databox {
		display: block;
		width: 100%;
		text-align: center;
		margin: 0px;
		margin-top: 0.25em;
		padding: 0px;
	}
		.slider ._databox ._minside {
			float: left;
			position: relative;
			margin-top: -1.3em;
		}
		.slider ._databox ._inputbox {
			margin: 0px auto;
			position: relative;
			z-index: 4;
		}
			.slider ._databox ._inputbox ._lhs {
				margin-right: 0.25em;
			}
			.slider ._databox ._inputbox ._input {
				font-size: 0.8em;
				width: 4em;
			}
			.slider ._databox ._inputbox ._datalabel {
				width: 6em;
			}
			.slider ._databox ._inputbox ._noinput {
				opacity: 0;
				width: 6em;
				z-index: 1;
			}
			.slider ._databox ._inputbox ._rhs {
				margin-left: 0.25em;
			}
			.slider ._databox ._inputbox ._reset {
				position: relative;
				margin: 0;
				margin-left: 1em;
				top: -0.2em;
				font-size: 60%;
			}
		.slider ._databox ._maxside {
			float: right;
			position: relative;
			margin-top: -1.3em;
		}
.slider-hide {
	display: none;
}
/* Base look with title and input / label in a row */
.slider-slim {
	background-color: #d0d0d0;
	margin: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	position: relative;
}
	.slider-slim div,label,span {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	.slider-slim ._titlebox {
		position: absolute;
		margin: 0;
		padding: 0;
		width: 5em;
		margin-top: 0.25em;
	}
		.slider-slim ._titlebox span {
			margin: 0;
			padding: 0;
		}
	.slider-slim ._formbox {
		display: inline-block;
		margin: 0;
		padding: 0;
		position: relative;
		left: 3em;
		width: 100%;
	}
	.slider-slim ._sliderbox {
		display: inline-block;
		position: relative;
		margin: 0;
		padding: 0;
		left:0;
		margin-top: 0.4em;
		margin-bottom: 0.1em;
	}
		.slider-slim ._sliderbox ._slider {
			-webkit-appearance: none;
			position: relative;
			margin: 0px;
			padding: 0px;
			height: 1em;
			background: transparent;
			z-index: 5;
			left:0;
		}
			.slider-slim ._sliderbox ._slider:focus {
				outline: none;
			}
			.slider-slim ._sliderbox ._slider::-webkit-slider-runnable-track { -webkit-appearance: none; width: 100%; height: 0.3em; position:relative; bottom: 0.1em; left: 0.2em; cursor: pointer; background: inherit; margin-top: 0.3em; box-shadow: 0px 0px 0.2em #000000, 0px 0px 0.1em #0d0d0d; background: #909090; border-radius: 0.25em; border: 0.1em solid #505050; margin-top: 0.2em; padding: 0px; }
			.slider-slim ._sliderbox ._slider::-webkit-slider-thumb {  -webkit-appearance: none; box-shadow: 0px 0px 0.2em #505050, 0px 0px 0.1em #5d5d5d; border: 0.1em solid #505050; height: 1.1em; width: 1.1em; border-radius: 0.55em; margin-top: -0.5em; background: #f0f0f0; cursor: pointer; padding: 0px; }
			.slider-slim ._sliderbox ._slider:focus::-webkit-slider-runnable-track { background: #909090; }
			.slider-slim ._sliderbox ._slider::-moz-range-track { width: 100%; height: 0.15em; cursor: pointer; box-shadow: 0px 0px 0.1em #000000, 0px 0px 0px #0d0d0d; background: #909090; border-radius: 0.25em; border: 0.1em solid #505050; }
			.slider-slim ._sliderbox ._slider::-moz-range-thumb { box-shadow: 0px 0px 0.2em #505050, 0px 0px 0.1em #5d5d5d; border: 0.1em solid #505050; height: 1em; width: 1em; border-radius: 0.5em; background: #f0f0f0; cursor: pointer; }
			.slider-slim ._sliderbox ._slider::-moz-focus-outer { border: 0; }
			.slider-slim ._sliderbox ._slider::-ms-track { position:relative; width: 98%; margin: 0px auto; height: 1em; cursor: pointer; background: transparent; color: transparent; border-width: 0.4em 0; }
			.slider-slim ._sliderbox ._slider::-ms-fill-lower { background: #909090; border: 0.1em solid #505050; border-radius: 0.25em; box-shadow: 0px 0px 0.15em #000000, 0px 0px 0px #0d0d0d; }
			.slider-slim ._sliderbox ._slider::-ms-fill-upper { background: #909090; border: 0.1em solid #505050; border-radius: 0.25em; box-shadow: 0px 0px 0.15em #000000, 0px 0px 0px #0d0d0d; }
			.slider-slim ._sliderbox ._slider::-ms-thumb { box-shadow: 0px 0px 0.2em #505050, 0px 0px 0.1em #5d5d5d; border: 0.1em solid #505050; height: 0.75em; width: 0.75em; border-radius: 0.5em; background: #f0f0f0; cursor: pointer; margin: 0px; padding: 0px; }
			.slider-slim ._sliderbox ._slider:focus::-ms-fill-lower { background: #909090; }
			.slider-slim ._sliderbox ._slider:focus::-ms-fill-upper { background: #909090; }
	.slider-slim ._databox {
		display:inline-block;
		width: 2em;
		margin-left: 1em;
	}
		.slider-slim ._databox ._minside {
			display: none;
		}
		.slider-slim ._databox ._inputbox {
			margin: 0px auto;
			position: relative;
			z-index: 4;
		}
			.slider-slim ._databox ._inputbox ._lhs {
				margin-right: 0.25em;
			}
			.slider-slim ._databox ._inputbox ._input {
				font-size: 0.8em;
				width: 4em;
			}
			.slider-slim ._databox ._inputbox ._datalabel {
				width: 4em;
			}
			.slider-slim ._databox ._inputbox ._noinput {
				opacity: 0;
				width: 4em;
				z-index: 1;
			}
			.slider-slim ._databox ._inputbox ._rhs {
				margin-left: 0.25em;
			}
			.slider-slim ._databox ._inputbox ._reset {
				display:none;
			}
		.slider-slim ._databox ._maxside {
			display:none;
		}
.slider-slim-hide {
	display: none;
}
/* Base Look - Vertical */
.slider-v {
	display:inline-block;
	background-color: #d0d0d0;
	width: 7em;
	margin: 0px;
	padding: 0.25em;
	border-radius: 0.5em;
	border: 2px solid #a0a0a0;
	outline: 0;
	vertical-align: baseline;
}
	.slider-v div,label,span {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	.slider-v ._titlebox {
		display: block;
		margin: 0px auto;
		padding: 0px;
		text-align: center;
	}
		.slider-v ._titlebox span {
			display: inlne-block;
			margin: 0px;
			padding: 0px;
		}
	.slider-v ._formbox {
		display:block;
		margin: 0px auto;
		padding: 0px;
		position: relative;
	}
	.slider-v ._sliderbox {
		display: inline-block;
		margin: 0px;
		padding: 0px;
	    top: 0;
	    height: 10em;
	}
		.slider-v ._sliderbox ._rotatebox {
			position: absolute;
			margin: 0px;
			padding: 0px;
			width: 10em;
			height: 0.9em;
			top: 50%;
			left: 0.5em;
			margin-top: -0.5em;
			z-index: 1;
		}
		.slider-v ._sliderbox ._slider {
			-webkit-appearance: none;
			position: relative;
			left: -50%;
			width: 100%;
			margin: 0px;
			padding: 0px;
			height: 0.8em;
			background: transparent;
			transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
			z-index: 5;
		}
			.slider-v ._sliderbox ._slider:focus {
				outline: none;
			}
			.slider-v ._sliderbox ._slider::-webkit-slider-runnable-track {
				-webkit-appearance: none;
				width: 100%;
				height: 0.3em;
				position:relative;
				bottom: 0.1em;
				left: 0.2em;
				cursor: pointer;
				background: inherit;
				margin-top: 0.1em;
				box-shadow: 0px 0px 0.15em #000000, 0px 0px 0px #0d0d0d;
				background: #909090;
				border-radius: 0.25em;
				border: 0.1em solid #505050;
				padding: 0px;
			}
			.slider-v ._sliderbox ._slider::-webkit-slider-thumb {
				box-shadow: 0px 0px 0.2em #505050, 0px 0px 0.1em #5d5d5d;
				border: 0.1em solid #505050;
				height: 1.1em;
				width: 1.1em;
				border-radius: 0.6em;
				margin-top: -0.4em;
				background: #f0f0f0;
				cursor: pointer;
				-webkit-appearance: none;
				padding: 0px;
			}
			.slider-v ._sliderbox ._slider:focus::-webkit-slider-runnable-track {
				background: #909090;
			}
			.slider-v ._sliderbox ._slider::-moz-range-track {
				width: 100%;
				height: 0.25em;
				cursor: pointer;
				box-shadow: 0px 0px 0.15em #000000, 0px 0px 0px #0d0d0d;
				background: #909090;
				border-radius: 0.25em;
				border: 0.1em solid #505050;
			}
			.slider-v ._sliderbox ._slider::-moz-range-thumb {
				box-shadow: 0px 0px 0.2em #505050, 0px 0px 0.1em #5d5d5d;
				border: 0.1em solid #505050;
				height: 1em;
				width: 1em;
				border-radius: 0.5em;
				background: #f0f0f0;
				cursor: pointer;
			}
			.slider-v ._sliderbox ._slider::-moz-focus-outer {
				border: 0;
			}
			.slider-v ._sliderbox ._slider::-ms-track {
				width: 100%;
				height: 0.25em;
				cursor: pointer;
				box-shadow: 0px 0px 0.15em #000000, 0px 0px 0px #0d0d0d;
				background: #909090;
				border-radius: 0.25em;
				border: 0.1em solid #505050;
			}
			.slider-v ._sliderbox ._slider::-ms-fill-lower {
				background: #909090;
				border: 0.1em solid #505050;
				border-radius: 0.25em;
				box-shadow: 0px 0px 0.15em #000000, 0px 0px 0px #0d0d0d;
			}
			.slider-v ._sliderbox ._slider::-ms-fill-upper {
				background: #909090;
				border: 0.1em solid #505050;
				border-radius: 0.25em;
				box-shadow: 0px 0px 0.15em #000000, 0px 0px 0px #0d0d0d;
			}
			.slider-v ._sliderbox ._slider::-ms-thumb {
				box-shadow: 0px 0px 0.2em #505050, 0px 0px 0.1em #5d5d5d;
				border: 0.1em solid #505050;
				height: 1em;
				width: 1em;
				border-radius: 0.5em;
				background: #f0f0f0;
				cursor: pointer;
			}
			.slider-v ._sliderbox ._slider:focus::-ms-fill-lower {
				background: #909090;
			}
			.slider-v ._sliderbox ._slider:focus::-ms-fill-upper {
				background: #909090;
			}
	.slider-v ._databox {
		display: inline-block;
		position: absolute;
		right: 0;
		height: 100%;
		margin: 0px;
		padding: 0px;
	}
		.slider-v ._databox ._minside {
			position: absolute;
			margin: 0;
			bottom: 0;
			left: 0;
		}
		.slider-v ._databox ._inputbox {
			display: inline-block;
			position: relative;
			margin: 0px;
			left: 0;
			bottom: -50%;
			-webkit-transform: translateY(-50%);
    		-ms-transform: translateY(-50%);
    		transform: translateY(-50%);
		}
			.slider-v ._databox ._inputbox ._lhs {
				display: block;
				position: relative;
				text-align: center;
			}
			.slider-v ._databox ._inputbox ._input {
				position: relative;
				font-size: 0.8em;
				width: 6.8em;
			}
			.slider-v ._databox ._inputbox ._noinput {
				position: relative;
				max-width: 6em;
				height: 0.8em;
				opacity: 0;
			}
			.slider-v ._databox ._inputbox ._datalabel {
				position: relative;
				width: 6em;
				display:block;
				text-align: center;
			}
			.slider-v ._databox ._inputbox ._rhs {
				display: block;
				position: relative;
				text-align: center;
			}
			.slider-v ._databox ._inputbox ._reset {
				display: block;
				position: relative;
				margin: 0px auto;
				font-size: 60%;
				max-width: 8em;
			}
		.slider-v ._databox ._maxside {
			position: absolute;
			margin: 0;
			margin-top: 0.25em;
			top: 0;
			left: 0;
		}
.slider-v-hide {
	display: none;
}
/* Bare Thumb - No Track */
.slider-bare {
	margin: 0px;
	padding: 0px;
}
	.slider-bare ._titlebox {
		display:none;
	}
		.slider-bare ._titlebox span {
			display: none;
		}
	.slider-bare ._formbox {
		display:block;
		margin: 0px;
		padding: 0px;
		position: relative;
	}
	.slider-bare ._sliderbox {
		display: block;
		margin: 0px;
		padding: 0px;
	    padding-left:0.3em;
	    padding-right:0.3em;
	}
		.slider-bare ._sliderbox ._slider {
			-webkit-appearance: none;
			position: relative;
			width: 100%;
			margin: 0px;
			padding: 0px;
			height: 0.9em;
			padding-top: 0.4em;
			background: transparent;
			z-index: 5;
		}
			.slider-bare ._sliderbox ._slider:focus {
				outline: none;
				-webkit-appearance: none;
			}
			.slider-bare ._sliderbox ._slider::-webkit-slider-runnable-track {
				-webkit-appearance: none;
				width: 100%;
				height: 1.3em;
				position:relative;
				bottom: 0.1em;
				left: 0.2em;
				cursor: pointer;
				background: inherit;
				border: 0;
				margin-top: 0.3em;
			}
			.slider-bare ._sliderbox ._slider::-webkit-slider-thumb {
				box-shadow: 0px 0px 0.2em #505050, 0px 0px 0.1em #5d5d5d;
				border: 0.1em solid #505050;
				height: 1.1em;
				width: 1.1em;
				border-radius: 0.5em;
				margin: 0;
				background: #f0f0f0;
				cursor: pointer;
				-webkit-appearance: none;
				padding: 0px;
			}
			.slider-bare ._sliderbox ._slider:focus::-webkit-slider-runnable-track {
				background: inherit;
			}
			.slider-bare ._sliderbox ._slider::-moz-range-track {
				width: 100%;
				height: 1.3em;
				background: inherit;
				cursor: pointer;
				border: 0;
			}
			.slider-bare ._sliderbox ._slider::-moz-range-thumb {
				box-shadow: 0px 0px 0.2em #505050, 0px 0px 0.1em #5d5d5d;
				border: 0.1em solid #505050;
				height: 1em;
				width: 1em;
				border-radius: 0.5em;
				background: #f0f0f0;
				cursor: pointer;
			}
			.slider-bare ._sliderbox ._slider::-moz-focus-outer {
				border: 0;
			}
			.slider-bare ._sliderbox ._slider::-ms-track {
				width: 100%;
				height: 1.3em;
				cursor: pointer;
				background: inherit;
				border: 0;
			}
			.slider-bare ._sliderbox ._slider::-ms-fill-lower {
				background: inherit;
				border: 0;
			}
			.slider-bare ._sliderbox ._slider::-ms-fill-upper {
				background: inherit;
				border: 0;
			}
			.slider-bare ._sliderbox ._slider::-ms-thumb {
				box-shadow: 0px 0.1em 0.2em #505050, 0px 0px 0.1em #5d5d5d;
				border: 0.1em solid #505050;
				height: 1em;
				width: 1em;
				border-radius: 0.5em;
				background: #f0f0f0;
				cursor: pointer;
				margin-top: -0.4em;
				padding: 0px;
			}
			.slider-bare ._sliderbox ._slider:focus::-ms-fill-lower {
				background: inherit;
			}
			.slider-bare ._sliderbox ._slider:focus::-ms-fill-upper {
				background: inherit;
			}
	.slider-bare ._databox {
		display: none;
	}
.slider-bare-hide {
	display: none;
}
/* Bare Thumb Vertical - No Track */
.slider-bare-v {
	display:inline-block;
	width: 0.94em;
	margin: 0px;
	padding: 0px;
}
	.slider-bare-v ._titlebox {
		display: none;
	}
	.slider-bare-v ._formbox {
		display:block;
		margin: 0px auto;
		padding: 0px;
		position: relative;
	}
	.slider-bare-v ._sliderbox {
		display: inline-block;
		margin: 0px;
		padding: 0px;
	    top: 0;
	    height: 12em;
	}
		.slider-bare-v ._sliderbox ._rotatebox {
			position: absolute;
			margin: 0px;
			padding: 0px;
			width: 12em;
			height: 0.95em;
			top: 50%;
			left: 0.5em;
			margin-top: -0.5em;
			z-index: 1;
		}
		.slider-bare-v ._sliderbox ._slider {
			-webkit-appearance: none;
			position: relative;
			left: -50%;
			width: 100%;
			margin: 0px;
			padding: 0px;
			height: 0.95em;
			background: transparent;
			transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
			z-index: 5;
		}
			.slider-bare-v ._sliderbox ._slider:focus {
				outline: none;
			}
			.slider-bare-v ._sliderbox ._slider::-webkit-slider-runnable-track {
				-webkit-appearance: none;
				width: 100%;
				height: 0.95em;
				position:relative;
				bottom: 0.1em;
				left: 0.2em;
				cursor: pointer;
				background: transparent;
				border: 0;
			}
			.slider-bare-v ._sliderbox ._slider::-webkit-slider-thumb {
				box-shadow: 0px 0px 0.2em #505050, 0px 0px 0.1em #5d5d5d;
				border: 0.1em solid #505050;
				height: 0.95em;
				width: 0.95em;
				border-radius: 0.5em;
				margin-top: 0.1em;
				background: #f0f0f0;
				cursor: pointer;
				-webkit-appearance: none;
				padding: 0px;
			}
			.slider-bare-v ._sliderbox ._slider:focus::-webkit-slider-runnable-track {
				background: inherit;
			}
			.slider-bare-v ._sliderbox ._slider::-moz-range-track {
				width: 100%;
				height: 0.95em;
				background: inherit;
				cursor: pointer;
				border: 0;
			}
			.slider-bare-v ._sliderbox ._slider::-moz-range-thumb {
				box-shadow: 0px 0px 0.2em #505050, 0px 0px 0.1em #5d5d5d;
				border: 0.1em solid #505050;
				height: 0.8em;
				width: 0.8em;
				border-radius: 0.5em;
				background: #f0f0f0;
				cursor: pointer;
			}
			.slider-bare-v ._sliderbox ._slider::-moz-focus-outer {
				border: 0;
			}
			.slider-bare-v ._sliderbox ._slider::-ms-track {
				width: 100%;
				height: 0.95em;
				background: transparent;
				color: transparent;
				cursor: pointer;
				border: 0;
			}
			.slider-bare-v ._sliderbox ._slider::-ms-fill-lower {
				background: transparent;
				border: 0;
			}
			.slider-bare-v ._sliderbox ._slider::-ms-fill-upper {
				background: transparent;
				border: 0;
			}
			.slider-bare-v ._sliderbox ._slider::-ms-thumb {
				box-shadow: 0px 0.1em 0.2em #505050, 0px 0px 0.1em #5d5d5d;
				border: 0.1em solid #505050;
				height: 0.75em;
				width: 0.75em;
				border-radius: 0.5em;
				background: #f0f0f0;
				cursor: pointer;
				margin: 0px;
				padding: 0px;
			}
			.slider-bare-v ._sliderbox ._slider:focus::-ms-fill-lower {
				background: inherit;
			}
			.slider-bare-v ._sliderbox ._slider:focus::-ms-fill-upper {
				background: inherit;
			}
	.slider-bare-v ._databox {
			display: none;
	}
.slider-bare-v-hide {
	display: none;
}
/* Bare Thumb Vertical Red- No Track */
.slider-bare-red-v {
	display:inline-block;
	width: 0.94em;
	margin: 0px;
	padding: 0px;
}
	.slider-bare-red-v ._titlebox {
		display: none;
	}
	.slider-bare-red-v ._formbox {
		display:block;
		margin: 0px auto;
		padding: 0px;
		position: relative;
	}
	.slider-bare-red-v ._sliderbox {
		display: inline-block;
		margin: 0px;
		padding: 0px;
	    top: 0;
	    height: 12em;
	}
		.slider-bare-red-v ._sliderbox ._rotatebox {
			position: absolute;
			margin: 0px;
			padding: 0px;
			width: 12em;
			height: 0.95em;
			top: 50%;
			left: 0.5em;
			margin-top: -0.5em;
			z-index: 1;
		}
		.slider-bare-red-v ._sliderbox ._slider {
			-webkit-appearance: none;
			position: relative;
			left: -50%;
			width: 100%;
			margin: 0px;
			padding: 0px;
			height: 0.95em;
			background: transparent;
			transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
			z-index: 5;
		}
			.slider-bare-red-v ._sliderbox ._slider:focus {
				outline: none;
			}
			.slider-bare-red-v ._sliderbox ._slider::-webkit-slider-runnable-track {
				-webkit-appearance: none;
				width: 100%;
				height: 0.95em;
				position:relative;
				bottom: 0.1em;
				left: 0.2em;
				cursor: pointer;
				background: transparent;
				border: 0;
			}
			.slider-bare-red-v ._sliderbox ._slider::-webkit-slider-thumb {
				box-shadow: 0px 0px 0.2em #505050, 0px 0px 0.1em #5d5d5d;
				border: 0.1em solid #a00000;
				height: 0.95em;
				width: 0.95em;
				border-radius: 0.5em;
				margin-top: 0.1em;
				background: #f0c0c0;
				cursor: pointer;
				-webkit-appearance: none;
				padding: 0px;
			}
			.slider-bare-red-v ._sliderbox ._slider:focus::-webkit-slider-runnable-track {
				background: inherit;
			}
			.slider-bare-red-v ._sliderbox ._slider::-moz-range-track {
				width: 100%;
				height: 0.95em;
				background: inherit;
				cursor: pointer;
				border: 0;
			}
			.slider-bare-red-v ._sliderbox ._slider::-moz-range-thumb {
				box-shadow: 0px 0px 0.2em #505050, 0px 0px 0.1em #5d5d5d;
				border: 0.1em solid #a00000;
				height: 0.8em;
				width: 0.8em;
				border-radius: 0.5em;
				background: #f0c0c0;
				cursor: pointer;
			}
			.slider-bare-red-v ._sliderbox ._slider::-moz-focus-outer { border: 0; }
			.slider-bare-red-v ._sliderbox ._slider::-ms-track { width: 100%; height: 0.95em; background: transparent; color: transparent; cursor: pointer; border: 0; }
			.slider-bare-red-v ._sliderbox ._slider::-ms-fill-lower { background: inherit; border: 0; }
			.slider-bare-red-v ._sliderbox ._slider::-ms-fill-upper { background: inherit; border: 0; }
			.slider-bare-red-v ._sliderbox ._slider::-ms-thumb { box-shadow: 0px 0.1em 0.2em #505050, 0px 0px 0.1em #5d5d5d; border: 0.1em solid #a00000; height: 0.75em; width: 0.75em; border-radius: 0.5em; background: #f0c0c0; cursor: pointer; margin: 0px; padding: 0px; }
			.slider-bare-red-v ._sliderbox ._slider:focus::-ms-fill-lower { background: transparent; }
			.slider-bare-red-v ._sliderbox ._slider:focus::-ms-fill-upper { background: transparent; }
	.slider-bare-red-v ._databox {
			display: none;
	}
.slider-bare-red-v-hide {
	display: none;
}
}
