.shadowbox	{	
	box-shadow:0.05em 0.05em 0.2em #808080;
	-webkit-box-shadow:0.05em 0.05em 0.2em #808080;
/*	-moz-box-shadow:0.05em 0.05em 0.2em #808080; */
	padding: 0.5em 1em 0.5em 1em;
	background-color: #f2f2f2;
	color: #333333;
	line-height: 1.3;
	text-align: center;
	width: 30em; margin: 0px auto; margin-top: 0.5em;margin-bottom:0.5em;
	font-size: 95%;
}
.graybox {
	display: inline-block;
	margin:0 0.15em 0.2em 0.15em;
	padding: 0.15em 0.35em 0.25em 0.15em;
	border:1px solid;
	border-color: #dadada;
	background-color: #eaeaea;
	border-radius:0.25em;
/*	-moz-border-radius:5px; */
}
.graybox-hide { display: none; }
.whitebox {
	display: inline-block;
	margin:0 0.15em 0.2em 0.15em;
	padding: 0.15em 0.35em 0.25em 0.15em;
	border:1px solid;
	border-color: #dadada;
	background-color: #f2f2f2;
	border-radius:0.25em;
/*	-moz-border-radius:5px; */
}
.whitebox-hide { display: none; }
.emptybox { display: inline-block; }
.emptybox-hide { display: none; }
.popup	{
	position: relative;
	left: -15em;	
	box-shadow:0.05em 0.25em 2em #808080;
	-webkit-box-shadow:0.05em 0.25em 2em #808080;
/*	-moz-box-shadow:0.05em 0.05em 0.2em #808080; */
	padding: 0.5em 1em 0.5em 1em;
	background-color: #f2f2f2;
	color: #333333;
	line-height: 1.8;
	text-align: center;
	width: 30em; margin: 0px auto; margin-top: 0.5em;margin-bottom:0.5em;
}
.popupholder { position:fixed; top: 10em; left: 50%;
}
.modalbox {
	position:fixed;
	width:100%;
    height:100%;
    background-color:rgba(234,234,234,0.5);
    top:0px;
    left:0px;
    z-index:999;
}
.modalbox-hide {display:none;}
/* LUT options */
.lut-opt { display: inline; }
.lut-opt-hide { display: none; }
/* Tweaks */
#tweaksholder {
	margin:0;
	padding:0;
	overflow:auto;
/*	max-height:19.6em; */
	font-size:95%;
}
.tweakholder {
	display: block;
	margin:0 0.15em 0.2em 0.15em;
	padding: 0.15em 0.35em 0.25em 0.15em;
	border:1px solid;
	border-color: #dadada;
	background-color: #b0b0b0;
/*	background-color: #eaeaea; */
	border-radius:0.25em;
/*	-moz-border-radius:5px; */
}
.tweakholder-hide { display: none; }
.tweak { display: block; }
.tweak-hide { display: none; }
.twk-advanced { display: block; }
.twk-advanced-hide { display: none; }
.twk-tab { display: block; }
.twk-tab-hide { display: none; }
.twk-sub-box {
 	display: block;
	margin:0 0.15em 0.2em 0.15em;
	padding: 0.15em 0.35em 0.25em 0.15em;
	border:1px solid;
	border-color: #dadada;
	background-color: #f2f2f2;
	border-radius:0.25em;
/*	-moz-border-radius:5px; */
}
.twk-sub-box-hide { display: none; }
.twk-checkbox { display: inline; }
.twk-checkbox-hide { display: none; }
.twk-button { display: inline; }
.twk-button-hide { display: none; }
.twk-slider { }
.twk-tinycheck {
	margin:0px;
	padding:0px;
	width:0.94em;
	height:0.94em;
}

#twk-psst-coloursbox {
	display:block;
	width:26.5em;
	height:12em;
	margin:0px auto;
	background:transparent;
}
.twk-psst-colour-bars-s {
	display:inline-block;
	width:0.93em;
	height:2em;
	margin:0px;
	padding:0;
}
.twk-psst-colour-bars-l {
	display:inline-block;
	width:0.93em;
	height:8em;
	margin:0px;
	margin-top:-0.26em;
	margin-bottom:-0.26em;
	padding:0;
}
.twk-psst-colour-bars-s-h {
	display:inline-block;
	width:3em;
	height:0.93em;
	margin:0px;
	margin-top: 0.3em;
	padding:0;
}
.twk-psst-colour-bars-l-h {
	display:inline-block;
	width:10em;
	height:0.93em;
	margin:0px;
	padding:0;
}
.twk-multi-stop {
	display:inline-block;
	width:1.56em;
	margin:0px;
	padding:0px;
	text-align: centre;
}
#twk-multi-coloursbox {
	display:block;
	width:26.6em;
	height:12em;
	margin:0px auto;
	margin-top:0.5em;
	background:transparent;
}
.twk-multi-colour-bars {
	display:inline-block;
	width:1.56em;
	height:4em;
	margin:0px;
	padding:0px;
}
.twk-multi-colour-bars-r {
	display:inline-block;
	width:1.56em;
	height:4em;
	margin:0px;
	padding:0px;
	background-color: #ff0000;
}
.twk-multi-colour-bars-g {
	display:inline-block;
	width:1.56em;
	height:4em;
	margin-top:-0.26em;
	margin-bottom:-0.26em;
	padding:0px;
	background-color: #00ff00;
}
.twk-multi-colour-bars-b {
	display:inline-block;
	width:1.56em;
	height:4em;
	margin:0px;
	padding:0px;
	background-color: #0000ff;
}
/* Multitone slider array */
.twk-multi-sliders {
	display: block;
	margin: 0px auto;
	width:12em;
	height:26.6em;
	margin-top:-19.25em;
	margin-bottom:-7.45em;
	background:transparent;
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
}
.twk-multi-range-array {
  -webkit-appearance: none;
  margin:0px auto;
  width:11.5em;
  display: block;
  margin-top: 0em;
  margin-bottom: 0.14em;
/*  margin-bottom: -0.5em; */
  background:transparent;
}
.twk-multi-range-array:focus {
  outline: none;
}
.twk-multi-range-array::-webkit-slider-runnable-track {
  cursor: pointer;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  background: rgba(128, 128, 128, 0);
  border-radius: 0;
  border: 0 solid rgba(0, 0, 0, 0);
}
.twk-multi-range-array::-webkit-slider-thumb {
  border: 0.1em solid #808080;
  height: 0.64em;
  width: 0.64em;
  border-radius: 0.5em;
  background: #e0e0e0;
  cursor: pointer;
  -webkit-appearance: none;
}
.twk-multi-range-array:focus::-webkit-slider-runnable-track {
  background: rgba(0, 0, 0, 0);
}
.twk-multi-range-array::-moz-range-track {
  cursor: pointer;
  background: rgba(128, 128, 128, 0);
  border-radius: 0;
  border: 0 solid rgba(0, 0, 0, 0);
}
.twk-multi-range-array::-moz-range-thumb {
  border: 0.1em solid #808080;
  height: 0.55em;
  width: 0.55em;
  border-radius: 0.4em;
  background: #e0e0e0;
  cursor: pointer;
}
.twk-multi-range-array::-ms-track {
  width: 100%;
  height: 0;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.twk-multi-range-array::-ms-fill-lower {
  background: rgba(0, 0, 0, 0);
  border: 0 solid rgba(0, 0, 0, 0);
  border-radius: 0;
}
.twk-multi-range-array::-ms-fill-upper {
  background: rgba(0, 0, 0, 0);
  border: 0 solid rgba(0, 0, 0, 0);
  border-radius: 0;
}
.twk-multi-range-array::-ms-thumb {
  border: 0.05em solid #808080;
  height: 0.55em;
  width: 0.55em;
  border-radius: 0.4em;
  background: #e0e0e0;
  cursor: pointer;
}
.twk-multi-range-array:focus::-ms-fill-lower {
  background: rgba(0, 0, 0, 0);
}
.twk-multi-range-array:focus::-ms-fill-upper {
  background: rgba(0, 0, 0, 0);
}
/* Range Slider Array */
.psst-rslider {
	display: block;
	margin: 0px auto;
	width:12em;
	height:26.5em;
	margin-top:-19.2em;
	margin-bottom:-7.4em;
	background:transparent;
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
}
.twk-range-array {
  -webkit-appearance: none;
  margin:0px auto;
  width:11.5em;
  display: block;
  margin-top: 0;
  margin-bottom: -0.5em;
  background:transparent;
}
.twk-range-array:focus {
  outline: none;
}
.twk-range-array::-webkit-slider-runnable-track {
  cursor: pointer;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  background: rgba(128, 128, 128, 0);
  border-radius: 0;
  border: 0 solid rgba(0, 0, 0, 0);
}
.twk-range-array::-webkit-slider-thumb {
  border: 0.1em solid #808080;
  height: 0.64em;
  width: 0.64em;
  border-radius: 0.5em;
  background: #e0e0e0;
  cursor: pointer;
  -webkit-appearance: none;
}
.twk-range-array:focus::-webkit-slider-runnable-track {
  background: rgba(0, 0, 0, 0);
}
.twk-range-array::-moz-range-track {
  cursor: pointer;
  background: rgba(128, 128, 128, 0);
  border-radius: 0;
  border: 0 solid rgba(0, 0, 0, 0);
}
.twk-range-array::-moz-range-thumb {
  border: 0.1em solid #808080;
  height: 0.55em;
  width: 0.55em;
  border-radius: 0.4em;
  background: #e0e0e0;
  cursor: pointer;
}
.twk-range-array::-ms-track {
  width: 100%;
  height: 0;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.twk-range-array::-ms-fill-lower {
  background: rgba(0, 0, 0, 0);
  border: 0 solid rgba(0, 0, 0, 0);
  border-radius: 0;
}
.twk-range-array::-ms-fill-upper {
  background: rgba(0, 0, 0, 0);
  border: 0 solid rgba(0, 0, 0, 0);
  border-radius: 0;
}
.twk-range-array::-ms-thumb {
  border: 0.05em solid #808080;
  height: 0.55em;
  width: 0.55em;
  border-radius: 0.4em;
  background: #e0e0e0;
  cursor: pointer;
}
.twk-range-array:focus::-ms-fill-lower {
  background: rgba(0, 0, 0, 0);
}
.twk-range-array:focus::-ms-fill-upper {
  background: rgba(0, 0, 0, 0);
}

.twk-range-array-red {
  -webkit-appearance: none;
  margin:0px auto;
  width:11.5em;
  display: block;
  margin-top: 0;
  margin-bottom: -0.5em;
background:transparent;
}
.twk-range-array-red:focus {
  outline: none;
}
.twk-range-array-red::-webkit-slider-runnable-track {
  cursor: pointer;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  background: rgba(128, 128, 128, 0);
  border-radius: 0;
  border: 0 solid rgba(0, 0, 0, 0);
}
.twk-range-array-red::-webkit-slider-thumb {
  border: 0.1em solid #a00000;
  height: 0.64em;
  width: 0.64em;
  border-radius: 0.5em;
  background: #f0c0c0;
  cursor: pointer;
  -webkit-appearance: none;
}
.twk-range-array-red:focus::-webkit-slider-runnable-track {
  background: rgba(0, 0, 0, 0);
}
.twk-range-array-red::-moz-range-track {
  cursor: pointer;
  background: rgba(128, 128, 128, 0);
  border-radius: 0;
  border: 0 solid rgba(0, 0, 0, 0);
}
.twk-range-array-red::-moz-range-thumb {
  border: 0.1em solid #a00000;
  height: 0.55em;
  width: 0.55em;
  border-radius: 0.4em;
  background: #f0c0c0;
  cursor: pointer;
}
.twk-range-array-red::-ms-track {
  width: 100%;
  height: 0;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.twk-range-array-red::-ms-fill-lower {
  background: rgba(0, 0, 0, 0);
  border: 0 solid rgba(0, 0, 0, 0);
  border-radius: 0;
}
.twk-range-array-red::-ms-fill-upper {
  background: rgba(0, 0, 0, 0);
  border: 0 solid rgba(0, 0, 0, 0);
  border-radius: 0;
}
.twk-range-array-red::-ms-thumb {
  border: 0.05em solid #a00000;
  height: 0.55em;
  width: 0.55em;
  border-radius: 0.4em;
  background: #f0c0c0;
  cursor: pointer;
}
.twk-range-array-red:focus::-ms-fill-lower {
  background: rgba(0, 0, 0, 0);
}
.twk-range-array-red:focus::-ms-fill-upper {
  background: rgba(0, 0, 0, 0);
}

.smallerbox {font-size:85%;line-height:1.4;}
.linebox {display: inline-block;}
.fixed-width-no {width:3em; display:inline-block; text-align: center; margin:0}
.slider-holder { display: inline-block; }
.wide-slider { width: 90%; }
.isoinput {width:5em;line-height:0.8;}
.shiftinput {width:5em;line-height:0.8;}
.basicinput {width:4em;line-height:0.8;}
.wideinput {width:6em;line-height:0.8;}
.ireinput {width:4em;line-height:0.8;}
.stopinput {width:4em;line-height:0.8;}
.smallinput {width:3em;line-height:0.8;}
.kelvininput {width:5em;line-height:0.8;}
.textinput {line-height:0.8;margin-bottom:0.15em;}
.infobox {height:21em;margin-top:0.15em;overflow:auto;}
.buttons { text-align: center; }
.smallbutton {text-align: center;font-size:0.6em;vertical-align:middle;}
.reset { font-size:0.6em;margin-top: 1em; float:right; }
.button-holder { text-align:center; display: block; }
#chartcanvas1 {display:block;width:28em;height:15em; z-index: 1;}
#chartcanvas2 {display:block;width:28em;height:15em; z-index: 1;}
#chartcanvas3 {display:block;width:28em;height:15em; z-index: 1;}
#reccanvas1 {display:block;margin-top:-15em;width:28em;height:15em;z-index: 2;}
#outcanvas1 {display:block;margin-top:-15em;width:28em;height:15em;z-index: 3;}
#clipcanvas1 {display:block;margin-top:-15em;width:28em;height:15em;z-index: 1;}
#reccanvas2 {display:block;margin-top:-15em;width:28em;height:15em;z-index: 2;}
#outcanvas2 {display:block;margin-top:-15em;width:28em;height:15em;z-index: 3;}
#clipcanvas2 {display:block;margin-top:-15em;width:28em;height:15em;z-index: 1;}
#reccanvas3 {display:block;margin-top:-15em;width:28em;height:15em;z-index: 2;}
#outcanvas3 {display:block;margin-top:-15em;width:28em;height:15em;z-index: 3;}
#rgbcanvas3 {display:block;margin-top:-15em;width:28em;height:15em;z-index: 4;}

#printcanvas2 {display:block;width:56em;height:30em; z-index: 1;}
#printrec2 {display:block;margin-top:-30em;width:56em;height:30em;z-index: 2;}
#printout2 {display:block;margin-top:-30em;width:56em;height:30em;z-index: 3;}
#printclip2 {display:block;margin-top:-30em;width:56em;height:30em;z-index: 1;}
#printcanvas3 {display:block;width:37em;height:20em; z-index: 1;}
#printout3 {display:block;margin-top:-20em;width:37em;height:20em;z-index: 3;}

#chartreclabel {color:red; margin-right:10px;}
#chartoutlabel {color:blue; margin-left:10px;}
#genbutton { text-align:center; display:inline-block;}
.colourpicker { position:fixed; top: 10em; left: 50%; display:block;
}
.colourpicker-hide { position:fixed; top: 10em; left: 50%; display:none;
}
.settings-popup { position:fixed; top: 10em; left: 50%; display:block;
}
.settings-popup-hide { position:fixed; top: 10em; left: 50%; display:none;
}
.picker-can {display:inline-block;cursor: crosshair; z-index: 1;}
.picker-info {display:inline-block;padding-top:2em;vertical-align:top;width: 10em;}
.picker-colour {margin:0px auto;margin-top:1em;width:3.5em;height:3.5em;background-color:#808080;}
.picker-colour-small {display:inline-block;width:3em;height:3em;background-color:#808080;margin-top:1.4em;vertical-align:top;}
.fixedlabel-s {display:inline-block;width:3em;}
.fixedlabel {display:inline-block;width:6em;}
.twk-multi-tab {display:inline-block;}
.twk-multi-pmbox {display:inline-block;width:3.5em;vertical-align:top;margin-top:1.3em;}
.plusminus {display:inline-block;width:1.5em;}
/* Preview canvases */
#can-preview {margin:0px auto;cursor: crosshair; z-index: 1;}
#can-overlay {margin:0px auto;margin-top: -18.25em; width: 32em; height:18em; z-index: 2;}
#can-hide {display:none;}
#can-waveform {margin:0px auto;}
#can-vector {margin:0px auto;}
#can-parade {margin:0px auto;}
/* Instructions images */
.infotext { text-align:left; }
.indentpara { margin-left:2em; }
.indentpara strong { font-size: 1em; }
