#ins-mainscreen {width:26em;margin:0px auto;}
.ins-main {
	margin:0.2em;
	padding:0;
	box-shadow:0.05em 0.05em 0.2em #808080;
	-webkit-box-shadow:0.05em 0.05em 0.2em #808080;
}
.ins-main:hover {
	box-shadow:0.05em 0.05em 0.4em #A04040;
	-webkit-box-shadow:0.05em 0.05em 0.4em #A04040;
}
.ins-fig {
	margin:0 auto;
	margin-top:0.4em;
	margin-bottom:0.4em;
	padding:0;
	box-shadow:0.05em 0.05em 0.2em #808080;
	-webkit-box-shadow:0.05em 0.05em 0.2em #808080;
}
.ins-main-but {
	display: inline-block;
	margin:0 0.05em 0.07em 0.05em;
	border:1.5px solid;
	border-color: #bababa;
	background-color: #f2f2f2;
	border-radius:0.2em;
}
.ins-main-but:hover {
	border:1.5px solid;
	border-color: #ea7a7a;
	border-radius:0.2em;
}
#ins-main-header {
	display:block;
	background-image: url('pngs/main-header.png');
	margin:0 auto;
	padding:0;
	background-size:26em 0.77em;
	width:26em;
	height:0.77em;
}
#ins-main-left {width:12.6em;margin:0;padding:0;display:inline-block;}

#ins-main-cam {
	background-image: url('pngs/main-cam.png');
	background-size:12em 2.14em;
	width:12em;
	height:2.14em;
}
#ins-main-gam {
	background-image: url('pngs/main-gam.png');
	background-size:12em 2.66em;
	width:12em;
	height:2.66em;
}
#ins-main-twk {
	background-image: url('pngs/main-twk.png');
	background-size:12em 9.26em;
	width:12em;
	height:9.26em;
}
#ins-main-spacer {margin:0;padding:0;background-size:12em 1.04em;width:12em;height:1.04em;}
#ins-main-right {width:12.6em;margin:0;padding:0;float:right;}
#ins-main-lut {
	background-image: url('pngs/main-lut.png');
	background-size:12em 4.88em;
	width:12em;
	height:4.88em;
}
#ins-main-buttons {
	margin:0 auto;
	margin-top:-0.35em;
	margin-bottom:-0.35em;
	padding:0;
}
#ins-main-pre {
	background-image: url('pngs/main-but-pre.png');
	background-size:1.88em 0.5em;
	width:1.88em;
	height:0.5em;
}
#ins-main-gen {
	background-image: url('pngs/main-but-gen.png');
	background-size:2.83em 0.5em;
	width:2.83em;
	height:0.5em;
}
#ins-main-gst {
	background-image: url('pngs/main-but-gst.png');
	background-size:2.83em 0.5em;
	width:2.83em;
	height:0.5em;
}
#ins-main-set {
	background-image: url('pngs/main-but-set.png');
	background-size:1.88em 0.5em;
	width:1.88em;
	height:0.5em;
}
#ins-main-inf {
	background-image: url('pngs/main-inf.png');
	background-size:12em 9.19em;width:12em;height:9.19em;
	width:12em;
	height:9.19em;
}
#ins-main-footer {
	display:block;
	background-image: url('pngs/main-footer.png');
	margin:0 auto;
	padding:0;
	background-size:26em 0.57em;
	width:26em;
	height:0.57em;
}

#ins-cam-1 {
	background-image: url('pngs/ins-cam-1.png');
	background-size:21em 3.75em;
	width:21em;
	height:3.75em;
}
#ins-gam-1 {
	background-image: url('pngs/ins-gam-1.png');
	background-size:21em 4.69em;
	width:21em;
	height:4.69em;
}
#ins-lut-1 {
	background-image: url('pngs/ins-lut-1.png');
	background-size:21em 8.58em;
	width:21em;
	height:8.58em;
}
#ins-lut-2 {
	background-image: url('pngs/ins-lut-2.png');
	background-size:21em 3.61em;
	width:21em;
	height:3.61em;
}
#ins-pre-1 {
	background-image: url('pngs/ins-pre-1.jpg');
	background-size:21em 14.61em;
	width:21em;
	height:14.61em;
}
#ins-pre-2 {
	background-image: url('pngs/ins-pre-2.jpg');
	background-size:14em 7.88em;
	width:14em;
	height:7.88em;
}
#ins-pre-3 {
	background-image: url('pngs/ins-pre-3.png');
	background-size:21em 4.46em;
	width:21em;
	height:4.46em;
}
#ins-inf-1 {
	background-image: url('pngs/ins-inf-1.png');
	background-size:21em 16.08em;
	width:21em;
	height:16.08em;
}

#ins-custscreen {width:21em;margin:0px auto;}
.ins-cust {
	display: inline-block;
	border:1px solid;
	border-color: #dadada;
	background-color: #eaeaea;
	border-radius:0.25em;
}
.ins-cust:hover {
	border-color: #f09090;
}
.ins-cust-fig {
	margin:0 auto;
	margin-top:0.4em;
	margin-bottom:0.4em;
	border:2px solid;
	border-color: #dadada;
	background-color: #eaeaea;
	border-radius:0.25em;
}
#ins-cust-box {
	background-color: #f2f2f2;
	width:22em;
	box-shadow:0.05em 0.05em 0.2em #808080;
	-webkit-box-shadow:0.05em 0.05em 0.2em #808080;
}
#ins-cust-header {
	background-image: url('pngs/cust-header.png');
	display: inline-block;
	margin:0;
	padding:0;
	background-size:21em 1.08em;
	width:21em;
	height:1.08em;
}
#ins-cust-colour {
	background-image: url('pngs/cust-colour.png');
	background-size:21em 1.32em;
	width:21em;
	height:1.32em;
}
#ins-cust-wht {
	background-image: url('pngs/cust-wht.png');
	background-size:21em 1.32em;
	width:21em;
	height:1.32em;
}
#ins-cust-psst {
	background-image: url('pngs/cust-pst.png');
	background-size:21em 1.32em;
	width:21em;
	height:1.32em;
}
#ins-cust-asc {
	background-image: url('pngs/cust-asc.png');
	background-size:21em 1.32em;
	width:21em;
	height:1.32em;
}
#ins-cust-multi {
	background-image: url('pngs/cust-multi.png');
	background-size:21em 1.32em;
	width:21em;
	height:1.32em;
}
#ins-cust-hg {
	background-image: url('pngs/cust-hg.png');
	background-size:21em 1.32em;
	width:21em;
	height:1.32em;
}
#ins-cust-knee {
	background-image: url('pngs/cust-knee.png');
	background-size:21em 1.32em;
	width:21em;
	height:1.32em;
}
#ins-cust-bhi {
	background-image: url('pngs/cust-bhi.png');
	background-size:21em 1.32em;
	width:21em;
	height:1.32em;
}
#ins-cust-bgm {
	background-image: url('pngs/cust-bgm.png');
	background-size:21em 1.32em;
	width:21em;
	height:1.32em;
}
#ins-cust-fc {
	background-image: url('pngs/cust-fc.png');
	background-size:21em 1.32em;
	width:21em;
	height:1.32em;
}
#ins-cust-la {
	background-image: url('pngs/cust-la.png');
	background-size:21em 3.24em;
	width:21em;
	height:3.24em;
}
#ins-cust-footer {display:block;background-image: url('pngs/cust-footer.png');margin:0;padding:0;background-size:21em 0.33em;width:21em;height:0.33em;}

#ins-cust-colour-1 {
	background-image: url('pngs/cust-colour-1.png');
	background-size:21em 13.55em;
	width:21em;
	height:13.55em;
}
#ins-cust-colour-2 {
	background-image: url('pngs/cust-colour-2.png');
	background-size:21em 18.61em;
	width:21em;
	height:18.61em;
}
#ins-cust-wht-1 {
	background-image: url('pngs/cust-wht-1.png');
	background-size:21em 10.92em;
	width:21em;
	height:10.92em;
}
#ins-cust-wht-2 {
	background-image: url('pngs/cust-wht-2.png');
	background-size:21em 4.41em;
	width:21em;
	height:4.41em;
}
#ins-cust-psst-1 {
	background-image: url('pngs/cust-psst-1.png');
	background-size:21em 12.38em;
	width:21em;
	height:12.38em;
}
#ins-cust-psst-2 {
	background-image: url('pngs/cust-psst-2.jpg');
	background-size:21em 14.25em;
	width:21em;
	height:14.25em;
}
#ins-cust-psst-3 {
	background-image: url('pngs/cust-psst-3.png');
	background-size:21em 3.42em;
	width:21em;
	height:3.42em;
}
#ins-cust-asc-1 {
	background-image: url('pngs/cust-asc-1.png');
	background-size:21em 8.06em;
	width:21em;
	height:8.06em;
}
#ins-cust-multi-1 {
	background-image: url('pngs/cust-multi-1.jpg');
	background-size:21em 17.06em;
	width:21em;
	height:17.06em;
}
#ins-cust-multi-2 {
	background-image: url('pngs/cust-multi-2.jpg');
	background-size:21em 15.28em;
	width:21em;
	height:15.28em;
}
#ins-cust-hg-1 {
	background-image: url('pngs/cust-hg-1.png');
	background-size:21em 7.27em;
	width:21em;
	height:7.27em;
}
#ins-cust-knee-1 {
	background-image: url('pngs/cust-knee-1.png');
	background-size:21em 13.08em;
	width:21em;
	height:13.08em;
}
#ins-cust-fc-1 {
	background-image: url('pngs/cust-fc-1.png');
	background-size:21em 14.86em;
	width:21em;
	height:14.86em;
}
#ins-cust-la-1 {
	background-image: url('pngs/cust-la-1.png');
	background-size:21em 3.19em;
	width:21em;
	height:3.19em;
}
#ins-cust-la-2 {
	background-image: url('pngs/cust-la-2.png');
	background-size:21em 7.22em;
	width:21em;
	height:7.22em;
}
#ins-cust-la-3 {
	background-image: url('pngs/cust-la-3.png');
	background-size:21em 7.45em;
	width:21em;
	height:7.45em;
}
#ins-cust-bhi-1 {
	background-image: url('pngs/cust-bhi-1.png');
	background-size:21em 3.28em;
	width:21em;
	height:3.28em;
}
#ins-cust-bhi-2 {
	background-image: url('pngs/cust-bhi-2.png');
	background-size:21em 5.63em;
	width:21em;
	height:5.63em;
}
#ins-cust-bhi-3 {
	background-image: url('pngs/cust-bhi-3.png');
	background-size:21em 7.78em;
	width:21em;
	height:7.78em;
}
#ins-cust-bgm-1 {
	background-image: url('pngs/cust-bgm-1.png');
	background-size:21em 5.48em;
	width:21em;
	height:5.48em;
}
