/* @media screen and (max-width: 1024px;) { */

/*********************** elements **********************/
input[type="checkbox"] {
	transform: scale(1.75);
	margin: 0.5em 1em 0.5em 1em;
}
input[type="radio"] {
	transform: scale(2);
	margin: 0.75em 1em 0.5em 1em;
}
/************************* ids *************************/
/* Hidden away */
/*
#footer {
	display: none;
}
#genbutton {
	display: none;
}
#infoinsbutton {
	display: none;
}
#ins-main-footer {
	display: none;
}
#ins-main-gen {
	display: none;
}
#ins-main-gst {
	display: none;
}
#ins-main-header {
	display: none;
}
#ins-main-set {
	display: none;
}
#ins-main-spacer {
	display: none;
}
#preview-size-button {
	display: none;
}
#titlebar {
	display: none;
}
#tweak-top {
	display: none;
}
*/
/* Altered */
/*
#ins-main-buttons {
	margin: 0px auto;
	padding: 0;
}
#ins-main-cam {
	margin: 0px auto;
	margin-bottom: 0.3em;
}
#ins-main-gam {
	margin: 0px auto;
	margin-bottom: 0.3em;
}
#ins-main-inf {
	margin: 0px auto;
	margin-bottom: 0.3em;
}
#ins-main-left {
	width: 100%;
	padding: 0;
	display:block;
}
#ins-main-lut {
	margin: 0px auto;
	margin-bottom: 0.3em;
}
#ins-main-pre {
	background-image: url('pngs/ins-pre-1.jpg');
	margin: 0px auto;
	margin-bottom: 0.3em;
	background-size:12em 8.35em;
	width:12em;
	height:8.35em;
}
#ins-main-right {
	width: 100%;
	padding: 0;
	display: block;
	clear: both;
}
#ins-main-twk {
	margin: 0px auto;
	margin-bottom: 0.3em;
}
#left {
	width: 100%;
	clear: both;
	display: block;
	padding: 0;
	margin: 0px;
}
#main {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 53em;
	background-color: #c0c0c0;
}
	#preview-holder input[type=radio] {
		transform: scale(1);
		margin: 0.2em;
		margin-right: 0.5em;
	}
	#preview-holder input[type=checkbox] {
		transform: scale(1);
		margin: 0.2em;
		margin-right: 0.5em;
	}
	#psst-lockbox input[type=checkbox] {
		margin: 0;
	}
#preview-box {
	margin-bottom: 0.5em;
}
#right {
	width: 100%;
	clear: both;
	overflow: auto;
	padding: 0px;
}
*/
/* Mobile specific */
/*
	#ins-mainbox p {
		position: relative;
		font-size: 110%;
		text-shadow: -1px -1px #f0f0f0, 1px -1px #f0f0f0, 1px 1px #f0f0f0, -1px 1px #f0f0f0, 0px 0px 4px #a0a0a0;
		top: 50%;
		transform: translateY(-50%);
	}
#mob-box {
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
}
#mob-menu-button {
	float: left;
	color: #ffff00;
	margin-left: 0.5em;
}
	#mob-menu-button div {
	    width: 2.5em;
	    height: 0.35em;
		background-color: #ffff00;
	    margin: 0.4em 0 0.4em 0;
	}
#mob-status {
	display: block;
	width: 100%;
	height: 2.7em;
	margin:0;
	padding:0;
	background-color: #202090;
}
#mob-status-text {
	display: inline-block;
	width: 100%;
	margin: 0;
	padding: 0;
}
*/
/*********************** classes ***********************/
/* Hidden away */
/* Altered */
/* Mobile specific */
.short-right {
	max-height: 25em;
}
.emptybox-mob {
	display:block;
	width: 32em;
	margin: 0px auto;
}
.ins-main-title {
	display: block;
}
.mob-chart-icon {
	float: right;
	background-image: url('pngs/mob-chart-icon.png');
	background-size:2.3em 2.3em;
	width: 2.5em;
	height: 2.5em;
	margin-top: 0.1em;
	margin-right: 0.5em;
}
.mob-genbutton {
	display: block;
	font-size: 125%;
	padding: 1.25em 2em 1.25em 2em;
	margin: 0px auto;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	background-color: #eaeaea;
	border:2px solid;
	border-color: #9a9a9a;
	border-radius:0.25em;
/*	-moz-border-radius:0.25em; */
}
.mob-main-menu {
	display: block;
	margin: 0px auto;
	margin-top: 10em;
	width: 28em;
	clear: both;
}
.mob-main-menu-hide {
	display: none;
}
.mob-no-icon {
	display:none;
}
.mob-preview-icon {
	float:right;
	background-image: url('pngs/mob-preview-icon.png');
	background-size:2.3em 2.3em;
	width: 2.5em;
	height: 2.5em;
	margin-top: 0.1em;
	margin-right: 0.5em;
}
.shadowbox-mob {
	display: block;
	position: relative;
	box-shadow:0.05em 0.05em 0.2em #808080;
	-webkit-box-shadow:0.05em 0.05em 0.2em #808080;
/*	-moz-box-shadow:0.05em 0.05em 0.2em #808080; */
	padding: 0.5em 1em 0.5em 1em;
	background-color: #f2f2f2;
	color: #333333;
	line-height: 1.3;
	text-align: center;
	width: 95%;
	margin: 0px auto;
	margin-top: 0.5em;
	margin-bottom:0.5em;
	font-size: 95%;
}
.shadowbox-hide {
	display: none;
}
.shadowbox-mob-hide {
	display: none;
}
.tweakbox-mob {
	display:block;
	width: 32em;
	margin: 0px auto;
	height: 25em;
	overflow: auto;
}
/* Slider */
/* Base Look */
.slider {
	background-color: #d0d0d0;
	margin: 0;
	padding: 0.15em;
	border-radius: 0.5em;
	border: 2px solid #a0a0a0;
	outline: 0;
	vertical-align: baseline;
}
	.slider div,label,span {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	.slider ._titlebox {
		margin: 0px auto;
		padding: 0px;
		text-align: center;
	}
		.slider ._titlebox span {
			display: inline-block;
			margin: 0px;
			padding: 0px;
		}
	.slider ._formbox {
		display:block;
		margin: 0px;
		padding: 0px;
		position: relative;
	}
	.slider ._sliderbox {
		display: block;
		margin: 0px;
		padding: 0px;
	    padding-left:1.3em;
	    padding-right:1.3em;
	}
		.slider ._sliderbox ._touchbar {
			width: 100%;
			margin: 0px;
			padding: 0px;
			height:2em;
		}
		.slider ._sliderbox ._slider {
			-webkit-appearance: none;
			position: relative;
			width: 100%;
			margin: 0px;
			padding: 0px;
			height: 2em;
			padding-top: 0.4em;
			background: transparent;
			z-index: 5;
		}
			.slider ._sliderbox ._slider:focus {
				outline: none;
			}
			.slider ._sliderbox ._slider::-webkit-slider-runnable-track {
				-webkit-appearance: none;
				width: 100%;
				height: 1.1em;
				position:relative;
				bottom: 0.1em;
				left: 0.2em;
				cursor: pointer;
				background: inherit;
				margin-top: 0.3em;
				box-shadow: 0px 0px 0.2em #000000, 0px 0px 0.1em #0d0d0d;
				background: #909090;
				border-radius: 0.25em;
				border: 0.1em solid #505050;
				margin-top: -0.1em;
				padding: 0px;
			}
			.slider ._sliderbox ._slider::-webkit-slider-thumb {
				box-shadow: 0px 0px 0.2em #505050, 0px 0px 0.1em #5d5d5d;
				border: 0.2em solid #505050;
				height: 2.2em;
				width: 2.2em;
				border-radius: 1em;
				margin-top: -0.5em;
				background: #f0f0f0;
				cursor: pointer;
				-webkit-appearance: none;
				padding: 0px;
			}
			.slider ._sliderbox ._slider:focus::-webkit-slider-runnable-track {
				background: #909090;
			}
			.slider ._sliderbox ._slider::-moz-range-track {
				width: 100%;
				height: 1em;
				cursor: pointer;
				box-shadow: 0px 0px 0.15em #000000, 0px 0px 0px #0d0d0d;
				background: #909090;
				border-radius: 0.25em;
				border: 0.1em solid #505050;
			}
			.slider ._sliderbox ._slider::-moz-range-thumb {
				box-shadow: 0px 0px 0.2em #505050, 0px 0px 0.1em #5d5d5d;
				border: 0.2em solid #505050;
				height: 2em;
				width: 2em;
				border-radius: 1em;
				background: #f0f0f0;
				cursor: pointer;
			}
			.slider ._sliderbox ._slider::-moz-focus-outer {
				border: 0;
			}
			.slider ._sliderbox ._slider::-ms-track {
				width: 100%;
				height: 1em;
				cursor: pointer;
				box-shadow: 0px 0px 0.15em #000000, 0px 0px 0px #0d0d0d;
				background: #909090;
				border-radius: 0.25em;
				border: 0.1em solid #505050;
			}
			.slider ._sliderbox ._slider::-ms-fill-lower {
				background: #909090;
				border: 0.1em solid #505050;
				border-radius: 0.25em;
				box-shadow: 0px 0px 0.15em #000000, 0px 0px 0px #0d0d0d;
			}
			.slider ._sliderbox ._slider::-ms-fill-upper {
				background: #909090;
				border: 0.1em solid #505050;
				border-radius: 0.25em;
				box-shadow: 0px 0px 0.15em #000000, 0px 0px 0px #0d0d0d;
			}
			.slider ._sliderbox ._slider::-ms-thumb {
				box-shadow: 0px 0px 0.2em #505050, 0px 0px 0.1em #5d5d5d;
				border: 0.2em solid #505050;
				height: 2em;
				width: 2em;
				border-radius: 1em;
				background: #f0f0f0;
				cursor: pointer;
			}
			.slider ._sliderbox ._slider:focus::-ms-fill-lower {
				background: #909090;
			}
			.slider ._sliderbox ._slider:focus::-ms-fill-upper {
				background: #909090;
			}
	.slider ._databox {
		display: block;
		width: 100%;
		text-align: center;
		margin: 0px;
		margin-top: 0.5em;
		padding: 0px;
	}
		.slider ._databox ._minside {
			float: left;
			position: relative;
			margin-top: -1.3em;
		}
		.slider ._databox ._inputbox {
			margin: 0px auto;
			position: relative;
			z-index: 4;
		}
			.slider ._databox ._inputbox ._lhs {
				margin-right: 0.5em;
			}
			.slider ._databox ._inputbox ._input {
				font-size: 0.8em;
				width: 6.8em;
			}
			.slider ._databox ._inputbox ._datalabel {
				width: 6em;
			}
			.slider ._databox ._inputbox ._noinput {
				opacity: 0;
				width: 6em;
				z-index: 1;
			}
			.slider ._databox ._inputbox ._rhs {
				margin-left: 0.5em;
			}
			.slider ._databox ._inputbox ._reset {
				position: relative;
				margin: 0;
				padding: 0.1em;
				margin-left: 1em;
				top: -0.2em;
				font-size: 60%;
			}
		.slider ._databox ._maxside {
			float: right;
			position: relative;
			margin-top: -1.3em;
		}
/* Base Look - Vertical */
.slider-v {
	display:inline-block;
	background-color: #d0d0d0;
	width: 8.2em;
	margin: 0px;
	padding: 0.25em;
	border-radius: 0.5em;
	border: 2px solid #a0a0a0;
	outline: 0;
	vertical-align: baseline;
}
	.slider-v div,label,span {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	.slider-v ._titlebox {
		display: block;
		margin: 0px auto;
		padding: 0px;
		text-align: center;
	}
		.slider-v ._titlebox span {
			display: inline-block;
			margin: 0px;
			padding: 0px;
		}
	.slider-v ._formbox {
		display:block;
		margin: 0px auto;
		padding: 0px;
		position: relative;
	}
	.slider-v ._sliderbox {
		display: inline-block;
		margin: 0px;
		padding: 0px;
	    top: 0;
	    height: 10em;
	}
		.slider-v ._sliderbox ._touchbar {
			display:inline-block;
			height: 100%;
			width: 2em;
			margin: 0px;
			padding: 0px;
			position:relative;
			top: 0.2em;
			z-index: 3;
		}
		.slider-v ._sliderbox ._rotatebox {
			position: absolute;
			margin: 0px;
			padding: 0px;
			width: 10em;
			height: 0.9em;
			top: 50%;
			left: 1em;
			margin-top: -0.5em;
			z-index: 1;
		}
		.slider-v ._sliderbox ._slider {
			-webkit-appearance: none;
			position: relative;
			left: -50%;
			width: 100%;
			margin: 0px;
			padding: 0px;
			height: 0.8em;
			background: transparent;
			transform: rotate(-90deg);
			z-index: 5;
		}
			.slider-v ._sliderbox ._slider:focus {
				outline: none;
			}
			.slider-v ._sliderbox ._slider::-webkit-slider-runnable-track {
				-webkit-appearance: none;
				width: 100%;
				height: 1.1em;
				position:relative;
				bottom: 0.1em;
				left: 0.2em;
				cursor: pointer;
				background: inherit;
				margin-top: 0.3em;
				box-shadow: 0px 0px 0.15em #000000, 0px 0px 0px #0d0d0d;
				background: #909090;
				border-radius: 0.25em;
				border: 0.1em solid #505050;
				margin-top: -0.1em;
				padding: 0px;
			}
			.slider-v ._sliderbox ._slider::-webkit-slider-thumb {
				box-shadow: 0px 0px 0.2em #505050, 0px 0px 0.1em #5d5d5d;
				border: 0.2em solid #505050;
				height: 2.2em;
				width: 2.2em;
				border-radius: 1em;
				margin-top: -0.6em;
				background: #f0f0f0;
				cursor: pointer;
				-webkit-appearance: none;
				padding: 0px;
			}
			.slider-v ._sliderbox ._slider:focus::-webkit-slider-runnable-track {
				background: #909090;
			}
			.slider-v ._sliderbox ._slider::-moz-range-track {
				width: 100%;
				height: 1em;
				cursor: pointer;
				box-shadow: 0px 0px 0.15em #000000, 0px 0px 0px #0d0d0d;
				background: #909090;
				border-radius: 0.25em;
				border: 0.1em solid #505050;
			}
			.slider-v ._sliderbox ._slider::-moz-range-thumb {
				box-shadow: 0px 0px 0.2em #505050, 0px 0px 0.1em #5d5d5d;
				border: 0.2em solid #505050;
				height: 2em;
				width: 2em;
				border-radius: 1em;
				background: #f0f0f0;
				cursor: pointer;
			}
			.slider-v ._sliderbox ._slider::-moz-focus-outer {
				border: 0;
			}
			.slider-v ._sliderbox ._slider::-ms-track {
				width: 100%;
				height: 1em;
				cursor: pointer;
				box-shadow: 0px 0px 0.15em #000000, 0px 0px 0px #0d0d0d;
				background: #909090;
				border-radius: 0.25em;
				border: 0.1em solid #505050;
			}
			.slider-v ._sliderbox ._slider::-ms-fill-lower {
				background: #909090;
				border: 0.1em solid #505050;
				border-radius: 0.25em;
				box-shadow: 0px 0px 0.15em #000000, 0px 0px 0px #0d0d0d;
			}
			.slider-v ._sliderbox ._slider::-ms-fill-upper {
				background: #909090;
				border: 0.1em solid #505050;
				border-radius: 0.25em;
				box-shadow: 0px 0px 0.15em #000000, 0px 0px 0px #0d0d0d;
			}
			.slider-v ._sliderbox ._slider::-ms-thumb {
				box-shadow: 0px 0px 0.2em #505050, 0px 0px 0.1em #5d5d5d;
				border: 0.2em solid #505050;
				height: 2em;
				width: 2em;
				border-radius: 1em;
				background: #f0f0f0;
				cursor: pointer;
			}
			.slider-v ._sliderbox ._slider:focus::-ms-fill-lower {
				background: #909090;
			}
			.slider-v ._sliderbox ._slider:focus::-ms-fill-upper {
				background: #909090;
			}
	.slider-v ._databox {
		display: inline-block;
		position: absolute;
		right: 0;
		height: 100%;
		margin: 0px;
		padding: 0px;
	}
		.slider-v ._databox ._minside {
			position: absolute;
			margin: 0;
			bottom: 0;
			left: 0;
		}
		.slider-v ._databox ._inputbox {
			display: inline-block;
			position: relative;
			margin: 0px;
			left: 0;
			bottom: -50%;
			-webkit-transform: translateY(-50%);
    		-ms-transform: translateY(-50%);
    		transform: translateY(-50%);
		}
			.slider-v ._databox ._inputbox ._lhs {
				display: block;
				position: relative;
				text-align: center;
			}
			.slider-v ._databox ._inputbox ._input {
				position: relative;
				font-size: 0.8em;
				width: 6.8em;
			}
			.slider-v ._databox ._inputbox ._noinput {
				position: relative;
				max-width: 6em;
				height: 0.8em;
				opacity: 0;
			}
			.slider-v ._databox ._inputbox ._datalabel {
				position: relative;
				width: 6em;
				display:block;
				text-align: center;
			}
			.slider-v ._databox ._inputbox ._rhs {
				display: block;
				position: relative;
				text-align: center;
			}
			.slider-v ._databox ._inputbox ._reset {
				display: block;
				position: relative;
				text-align: center;
				font-size: 60%;
				max-width: 8em;
			}
		.slider-v ._databox ._maxside {
			position: absolute;
			margin: 0;
			margin-top: 0.25em;
			top: 0;
			left: 0;
		}
/* Bare Thumb - No Track */
.slider-bare {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
}
	.slider div,label,span {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	.slider-bare ._titlebox {
		display:none;
	}
		.slider-bare ._titlebox span {
			display: none;
		}
	.slider-bare ._formbox {
		display:block;
		margin: 0px;
		padding: 0px;
		position: relative;
	}
	.slider-bare ._sliderbox {
		display: block;
		margin: 0px;
		padding: 0px;
	    padding-left:0.3em;
	    padding-right:0.3em;
	}
		.slider-bare ._sliderbox ._touchbar {
			width: 100%;
			margin: 0px;
			padding: 0px;
		}
		.slider-bare ._sliderbox ._slider {
			-webkit-appearance: none;
			position: relative;
			width: 100%;
			margin: 0px;
			padding: 0px;
			height: 2em;
			padding-top: 0.4em;
			background: transparent;
			z-index: 5;
		}
			.slider-bare ._sliderbox ._slider:focus {
				outline: none;
				-webkit-appearance: none;
			}
			.slider-bare ._sliderbox ._slider::-webkit-slider-runnable-track {
				-webkit-appearance: none;
				width: 100%;
				height: 2.6em;
				position:relative;
				bottom: 0.1em;
				left: 0.2em;
				cursor: pointer;
				background: inherit;
				border: 0;
				margin-top: 0.3em;
			}
			.slider-bare ._sliderbox ._slider::-webkit-slider-thumb {
				box-shadow: 0px 0px 0.2em #505050, 0px 0px 0.1em #5d5d5d;
				border: 0.2em solid #505050;
				height: 2.2em;
				width: 2.2em;
				border-radius: 1em;
				margin-top: 0.15em;
				background: #f0f0f0;
				cursor: pointer;
				-webkit-appearance: none;
				padding: 0px;
			}
			.slider-bare ._sliderbox ._slider:focus::-webkit-slider-runnable-track {
				background: inherit;
			}
			.slider-bare ._sliderbox ._slider::-moz-range-track {
				width: 100%;
				height: 2.6em;
				background: inherit;
				cursor: pointer;
				border: 0;
			}
			.slider-bare ._sliderbox ._slider::-moz-range-thumb {
				box-shadow: 0px 0px 0.2em #505050, 0px 0px 0.1em #5d5d5d;
				border: 0.2em solid #505050;
				height: 2em;
				width: 2em;
				border-radius: 1em;
				background: #f0f0f0;
				cursor: pointer;
			}
			.slider-bare ._sliderbox ._slider::-moz-focus-outer {
				border: 0;
			}
			.slider-bare ._sliderbox ._slider::-ms-track {
				width: 100%;
				height: 0.25em;
				cursor: pointer;
				background: transparent;
				border-color: transparent;
				color: transparent;
			}
			.slider-bare ._sliderbox ._slider::-ms-fill-lower {
				background: transparent;
				border: 0;
			}
			.slider-bare ._sliderbox ._slider::-ms-fill-upper {
				background: transparent;
				border: 0;
			}
			.slider-bare ._sliderbox ._slider::-ms-thumb {
				box-shadow: 0px 0.1em 0.2em #505050, 0px 0px 0.1em #5d5d5d;
				border: 0.1em solid #505050;
				height: 1em;
				width: 1em;
				border-radius: 0.5em;
				background: #f0f0f0;
				cursor: pointer;
				margin-top: -0.4em;
				padding: 0px;
			}
			.slider-bare ._sliderbox ._slider:focus::-ms-fill-lower {
				background: transparent;
			}
			.slider-bare ._sliderbox ._slider:focus::-ms-fill-upper {
				background: transparent;
			}
	.slider-bare ._databox {
		display: none;
	}
/* Bare Thumb Vertical - No Track */
.slider-bare-v {
	display:inline-block;
	width: 1.8em;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
}
	.slider div,label,span {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	.slider-bare-v ._titlebox {
		display: none;
	}
		.slider-bare-v ._titlebox span {
			display: none;
		}
	.slider-bare-v ._formbox {
		display:block;
		margin: 0px auto;
		padding: 0px;
		position: relative;
	}
	.slider-bare-v ._sliderbox {
		display: inline-block;
		margin: 0px;
		padding: 0px;
	    top: 0;
	    height: 10em;
	}
		.slider-bare-v ._sliderbox ._touchbar {
			display:inline-block;
			height: 100%;
			width: 1.8em;
			margin: 0px;
			padding: 0px;
			position:relative;
			top: 0.2em;
			z-index: 3;
		}
		.slider-bare-v ._sliderbox ._rotatebox {
			position: absolute;
			margin: 0px;
			padding: 0px;
			width: 10em;
			height: 0.9em;
			top: 50%;
			left: 0.9em;
			margin-top: -0.5em;
			margin-left: 0.05em;
			z-index: 1;
		}
		.slider-bare-v ._sliderbox ._slider {
			-webkit-appearance: none;
			position: relative;
			left: -50%;
			width: 100%;
			margin: 0px;
			padding: 0px;
			height: 0.8em;
			background: transparent;
			transform: rotate(-90deg);
			z-index: 5;
		}
			.slider-bare-v ._sliderbox ._slider:focus {
				outline: none;
			}
			.slider-bare-v ._sliderbox ._slider::-webkit-slider-runnable-track {
				-webkit-appearance: none;
				width: 100%;
				height: 2.6em;
				position:relative;
				bottom: 0.1em;
				left: 0.2em;
				cursor: pointer;
				background: inherit;
				border: 0;
				margin-top: 0.3em;
			}
			.slider-bare-v ._sliderbox ._slider::-webkit-slider-thumb {
				box-shadow: 0px 0px 0.2em #505050, 0px 0px 0.1em #5d5d5d;
				border: 0.2em solid #505050;
				height: 2.2em;
				width: 2.2em;
				border-radius: 1em;
				margin-top: 0.1em;
				background: #f0f0f0;
				cursor: pointer;
				-webkit-appearance: none;
				padding: 0px;
			}
			.slider-bare-v ._sliderbox ._slider:focus::-webkit-slider-runnable-track {
				background: inherit;
			}
			.slider-bare-v ._sliderbox ._slider::-moz-range-track {
				width: 100%;
				height: 2.6em;
				background: inherit;
				cursor: pointer;
				border: 0;
			}
			.slider-bare-v ._sliderbox ._slider::-moz-range-thumb {
				box-shadow: 0px 0px 0.2em #505050, 0px 0px 0.1em #5d5d5d;
				border: 0.2em solid #505050;
				height: 2em;
				width: 2em;
				border-radius: 1em;
				background: #f0f0f0;
				cursor: pointer;
			}
			.slider-bare-v ._sliderbox ._slider::-moz-focus-outer {
				border: 0;
			}
			.slider-bare-v ._sliderbox ._slider::-ms-track {
				width: 100%;
				height: 0.25em;
				cursor: pointer;
				background: transparent;
				border-color: transparent;
				color: transparent;
			}
			.slider-bare-v ._sliderbox ._slider::-ms-fill-lower {
				background: transparent;
				border: 0;
			}
			.slider-bare-v ._sliderbox ._slider::-ms-fill-upper {
				background: transparent;
				border: 0;
			}
			.slider-bare-v ._sliderbox ._slider::-ms-thumb {
				box-shadow: 0px 0.1em 0.2em #505050, 0px 0px 0.1em #5d5d5d;
				border: 0.1em solid #505050;
				height: 1em;
				width: 1em;
				border-radius: 0.5em;
				background: #f0f0f0;
				cursor: pointer;
				margin-top: -0.4em;
				padding: 0px;
			}
			.slider-bare-v ._sliderbox ._slider:focus::-ms-fill-lower {
				background: transparent;
			}
			.slider-bare-v ._sliderbox ._slider:focus::-ms-fill-upper {
				background: transparent;
			}
	.slider-bare-v ._databox {
			display: none;
	}

/* } */
